<template name="CrmToolsSmsCenter">

	{{> PageHeading title="SMS Center"}}

	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> SmsCenterSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="padding-bottom: 15px; padding-top: 20px;">
						{{> SmsCenterForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="SmsCenterSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="SmsCenterForm">
	<form role="form">
		<div class="layout-main-section">
			<div class="form-inner-toolbar hide"></div>
			<div class="page-form row hide"></div>
			<div>
				<div>
					<div class="form-layout">
					    <div class="form-dashboard" style="display: none;">
					        <div class="row" style="padding: 15px 30px;"></div>
					    </div>
					    <div class="form-page">
					        <div class="row form-section visible-section">
					            <div class="section-body">
					                <div class="form-column col-sm-6">
					                    <form>
					                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="send_to">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Send To</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input"><select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="send_to" placeholder="" data-doctype="SMS Center"><option></option><option value="All Contact">All Contact</option><option value="All Customer Contact">All Customer Contact</option><option value="All Supplier Contact">All Supplier Contact</option><option value="All Sales Partner Contact">All Sales Partner Contact</option><option value="All Lead (Open)">All Lead (Open)</option><option value="All Employee (Active)">All Employee (Active)</option><option value="All Sales Person">All Sales Person</option></select></div>
					                                    <div class="control-value like-disabled-input" style="display: none;">All Contact</div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="customer">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Customer</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input">
					                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="customer" placeholder="" data-doctype="SMS Center" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
					                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-27" tabindex="0" style="display: none;"></ul>
					                                        </div>
					                                    </div>
					                                    <div class="control-value like-disabled-input" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="supplier">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Supplier</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input">
					                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="supplier" placeholder="" data-doctype="SMS Center" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
					                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-28" tabindex="0" style="display: none;"></ul>
					                                        </div>
					                                    </div>
					                                    <div class="control-value like-disabled-input" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="sales_partner">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Sales Partner</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input">
					                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="sales_partner" placeholder="" data-doctype="SMS Center" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
					                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-29" tabindex="0" style="display: none;"></ul>
					                                        </div>
					                                    </div>
					                                    <div class="control-value like-disabled-input" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="department">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Department</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input">
					                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="department" placeholder="" data-doctype="SMS Center" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
					                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-30" tabindex="0" style="display: none;"></ul>
					                                        </div>
					                                    </div>
					                                    <div class="control-value like-disabled-input" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="branch">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Branch</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input">
					                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="branch" placeholder="" data-doctype="SMS Center" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
					                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-31" tabindex="0" style="display: none;"></ul>
					                                        </div>
					                                    </div>
					                                    <div class="control-value like-disabled-input" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="create_receiver_list">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input"><button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="create_receiver_list" placeholder="" data-doctype="SMS Center" value="">Create Receiver List</button></div>
					                                    <div class="hide" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control" data-fieldtype="Code" data-fieldname="receiver_list">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Receiver List</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input"><textarea type="text" class="input-with-feedback form-control" data-fieldtype="Code" data-fieldname="receiver_list" placeholder="" data-doctype="SMS Center" style="height: 400px; font-family: Monaco, 'Courier New', monospace;"></textarea></div>
					                                    <div class="control-value like-disabled-input for-description" style="display: none;"><pre></pre></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                    </form>
					                </div>
					                <div class="form-column col-sm-6">
					                    <form>
					                        <div class="griderp-control" data-fieldtype="Text" data-fieldname="message">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Message</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input"><textarea type="text" class="input-with-feedback form-control" data-fieldtype="Text" data-fieldname="message" placeholder="" data-doctype="SMS Center"></textarea></div>
					                                    <div class="control-value like-disabled-input for-description" style="display: none;">Tesing software</div>
					                                    <p class="help-box small text-muted hidden-xs">Messages greater than 160 characters will be split into multiple messages</p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="total_characters">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Total Characters</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input" style="display: none;"></div>
					                                    <div class="control-value like-disabled-input" style="">15</div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="total_messages">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Total Message(s)</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input" style="display: none;"></div>
					                                    <div class="control-value like-disabled-input" style="">1</div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="send_sms">
					                            <div class="form-group" style="margin: 0px"> <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
					                                <div class="control-input-wrapper">
					                                    <div class="control-input"><button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="send_sms" placeholder="" data-doctype="SMS Center" value="">Send SMS</button></div>
					                                    <div class="hide" style="display: none;"></div>
					                                    <p class="help-box small text-muted hidden-xs"></p>
					                                </div>
					                            </div>
					                        </div>
					                    </form>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<!-- Comments Footer -->
		<div style="padding-top: 20px; padding-bottom:20px;">
			<div class="form-footer">
				<div class="after-save" style="border: 1px solid #ddd;">
					<div class="form-comments">
						<div class="timeline">
							<div class="timeline-head">
							    <h5 class="text-muted">Add a comment</h5>
							    <div>
							        <textarea style="height: 80px" class="form-control"></textarea>
							    </div>
							    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
							        <div class="media-body">
							            <div class="row">
							                <div class="col-xs-4">
							                    <h5>You</h5> </div>
							                <div class="col-xs-8 text-right" style="margin-top: 2px;">
							                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
							                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
							                        <label class="email-checkbox-label">
							                            <input type="checkbox" class="is-email">&nbsp; Email </label>
							                    </div>
							                </div>
							            </div>
							        </div>
							    </div>
							</div>
							<div class="timeline-items">
							    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
							        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
							            <div>
							                <div class="pull-right"> <span class="small text-muted">  </span> </div>
							                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created</span>  <span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
			</div>
		</div>
		<div class="form-group">
			<div class="submit-div">
				<button id="form-submit-button" class="btn btn-success" type="submit">
					<span class="fa fa-check">
					</span>
					Save
				</button>
				<a href="#" id="form-cancel-button" class="btn btn-default">
					Cancel
				</a>
			</div>
		</div>
	</form>
</template>

