<template name="AccountsToolsBankReconciliation">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">Bank Reconciliation</div>
								<span class="indicator-orange indicator-text">Not Saved</span>
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<!--<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Blog Category</a></li>
								</ul>
						</div>-->
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{blog_category_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="padding-bottom: 20px; padding-top:20px;">
						{{> BankReconciliationForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="BankReconciliationForm">
	<div class="layout-main-section">
		<div class="form-inner-toolbar hide"></div>
		<div class="page-form row hide"></div>
		<div>
		    <div>
		        <div class="form-layout">
		            <div class="form-dashboard" style="display: none;">
		                <div class="row" style="padding: 15px 30px;"></div>
		            </div>
		            <div class="form-page">
		                <div class="row form-section visible-section">
		                    <div class="section-body">
		                        <div class="form-column col-sm-12">
		                            <form>
		                                <div class="griderp-control input-max-width has-error" data-fieldtype="Link" data-fieldname="bank_account">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label" style="padding-right: 0px;">Bank Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;">
		                                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="bank_account" placeholder="" data-doctype="Bank Reconciliation" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-3" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs">Select account head of the bank where cheque was deposited.</p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="company">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label" style="padding-right: 0px;"></label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="from_date">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label" style="padding-right: 0px;">From Date</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="from_date" placeholder="" data-doctype="Bank Reconciliation" id="dp1454689034576">
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;">02-01-2016</div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="to_date">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label" style="padding-right: 0px;">To Date</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="to_date" placeholder="" data-doctype="Bank Reconciliation" id="dp1454689034577">
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;">02-29-2016</div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="include_reconciled_entries">
		                                    <div class="cbox">
		                                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="include_reconciled_entries" placeholder="" data-doctype="Bank Reconciliation"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Include Reconciled Entries</span> </label>
		                                        <p class="help-box small text-muted"></p>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="get_relevant_entries">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="get_relevant_entries" placeholder="" data-doctype="Bank Reconciliation" value="">Get Relevant Entries</button>
		                                            </div>
		                                            <div class="hide" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control" data-fieldtype="Table" data-fieldname="journal_entries">
		                                    <div data-fieldname="journal_entries">
		                                        <div class="form-grid">
		                                            <div class="grid-heading-row">
		                                                <div class="grid-row">
		                                                    <div class="data-row row sortable-handle">
		                                                        <div class="row-index">&nbsp;</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis grid-static-col" data-fieldname="clearance_date">Clearance Date</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis grid-static-col" data-fieldname="against_account">Against Account</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis grid-static-col" data-fieldname="cheque_number">Cheque Number</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="debit">Debit</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="credit">Credit</div>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                            <div class="grid-body">
		                                                <div class="rows"></div>
		                                                <div class="grid-empty text-center">No Data</div>
		                                                <div class="small form-clickable-section grid-footer">
		                                                    <div class="row">
		                                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
		                                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="update_clearance_date">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="update_clearance_date" placeholder="" data-doctype="Bank Reconciliation" value="">Update Clearance Date</button>
		                                            </div>
		                                            <div class="hide" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width hide-control" data-fieldtype="Currency" data-fieldname="total_amount">
		                                    <div class="form-group" style="margin: 0px">
		                                        <label class="control-label" style="padding-right: 0px;"></label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</template>

