<template name="SetupStockItemGroupTree">

	{{> PageHeading title="Item Group Tree" type="groupTree"}}

	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> StockItemGroupTreeForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="StockItemGroupTreeForm">
	<div class="layout-main-section" style="min-height: 300px; padding-bottom: 25px;">
		<div class="tree"><span class="tree-link selected"><i class="icon-fixed-width icon-folder-open text-muted"></i> <a class="tree-label grey h6">All Item Groups</a></span>
		    <ul class="tree-children" style="">
		        <li class="tree-node"><span class="tree-link"><i class="icon-fixed-width octicon octicon-primitive-dot text-extra-muted"></i> <a class="tree-label grey h6">Consumable</a></span>
		            <ul class="tree-children" style="display: none;"></ul>
		        </li>
		        <li class="tree-node"><span class="tree-link"><i class="icon-fixed-width octicon octicon-primitive-dot text-extra-muted"></i> <a class="tree-label grey h6">Products</a></span>
		            <ul class="tree-children" style="display: none;"></ul>
		        </li>
		        <li class="tree-node"><span class="tree-link"><i class="icon-fixed-width octicon octicon-primitive-dot text-extra-muted"></i> <a class="tree-label grey h6">Raw Material</a></span>
		            <ul class="tree-children" style="display: none;"></ul>
		        </li>
		        <li class="tree-node"><span class="tree-link"><i class="icon-fixed-width octicon octicon-primitive-dot text-extra-muted"></i> <a class="tree-label grey h6">Services</a></span>
		            <ul class="tree-children" style="display: none;"></ul>
		        </li>
		        <li class="tree-node"><span class="tree-link"><i class="icon-fixed-width octicon octicon-primitive-dot text-extra-muted"></i> <a class="tree-label grey h6">Sub Assemblies</a></span>
		            <ul class="tree-children" style="display: none;"></ul>
		        </li>
		    </ul>
		</div>
	</div>
</template>

