<template name="TimeLogEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{time_log_details.title}}</div>
								<span class="indicator-red indicator-text">Draft</span>
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">New Time Log</a></li>
								</ul>
						</div>
						<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{time_log_details.name}}
						</div>
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> TimeLogEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> TimeLogEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="TimeLogEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="TimeLogEditEditForm">
	<div id="time-log-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-title">
				<label for="title">
					Title
				</label>
				<div class="input-div">
					<input type="text" name="title" value="{{time_log_details.title}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-status">
				<label for="status">
					Status
				</label>
				<div class="input-div">
					<input type="text" name="status" value="{{time_log_details.status}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-hours">
				<label for="hours">
					Hours
				</label>
				<div class="input-div">
					<input type="text" name="hours" value="{{time_log_details.hours}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-name">
				<label for="name">
					Time Log Id
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{time_log_details.name}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
						    <div class="form-dashboard" style="display: none;">
						        <div class="row" style="padding: 15px 30px;"></div>
						    </div>
						    <div class="form-page">
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="naming_series">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Series</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="naming_series" placeholder="" data-doctype="Time Log"><option value="TL-">TL-</option></select></div>
						                                    <div class="control-value like-disabled-input" style="display: none;">TL-</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="status">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Status</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">Draft</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Datetime" data-fieldname="from_time">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">From Time</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Datetime" data-fieldname="from_time" placeholder="" data-doctype="Time Log" id="dp1455325714175"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;">11-18-2015 21:19:19</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Float" data-fieldname="hours">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Hours</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Float" data-fieldname="hours" placeholder="" data-doctype="Time Log"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;">1.250</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Datetime" data-fieldname="to_time">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">To Time</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Datetime" data-fieldname="to_time" placeholder="" data-doctype="Time Log" id="dp1455325714176"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;">11-18-2015 22:34:19</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="activity_type">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Activity Type</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="activity_type" placeholder="" data-doctype="Time Log" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-144" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="project">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Project</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="project" placeholder="" data-doctype="Time Log" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-145" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="task">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Task</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="task" placeholder="" data-doctype="Time Log" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-146" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="user">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">User</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="user" placeholder="" data-doctype="Time Log" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-147" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="employee">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Employee</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="employee" placeholder="" data-doctype="Time Log" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-148" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="form-group griderp-control input-max-width hide-control" data-fieldtype="Check" data-fieldname="for_manufacturing">
						                            <div class="cbox"> <label class="checkbox-label">     <span class="input-area"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"></span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="billable">
						                            <div class="cbox"> <label class="checkbox-label">     <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="billable" placeholder="" data-doctype="Time Log"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"> &nbsp;Billable</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="production_order">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Production Order</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Production%20Order/PRO-02471" data-doctype="Production%20Order">PRO-02471</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="operation">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Operation</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Operation/Packing" data-doctype="Operation">Packing</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="operation_id">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="workstation">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Workstation</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Workstation/Packing%20and%20Testing%20Station" data-doctype="Workstation">Packing and Testing Station</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Float" data-fieldname="completed_qty">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Completed Qty</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Float" data-fieldname="completed_qty" placeholder="" data-doctype="Time Log"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;">3</div>
						                                    <p class="help-box small text-muted hidden-xs">Operation completed for how many finished goods?</p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Text Editor" data-fieldname="note">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Note</label>
						                                <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div>
								                                    <div>
																		<!-- Summernote Editor -->
																		<div class="summernote" style="display: none;">
																			<h3>Hello Customers! </h3> dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
																			<br>
																			<br>

																		</div>
								                                    </div>
								                                </div>
								                            </div>
						                                    <div class="control-value like-disabled-input for-description" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Currency" data-fieldname="costing_rate">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Costing Rate based on Activity Type (per hour)</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">$ 0.00</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Currency" data-fieldname="costing_amount">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Costing Amount</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">$ 0.00</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Currency" data-fieldname="billing_rate">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Billing Rate based on Activity Type (per hour)</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">$ 0.00</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Currency" data-fieldname="billing_amount">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Billing Amount</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">$ 0.00</div>
						                                    <p class="help-box small text-muted hidden-xs">Will be updated only if Time Log is 'Billable'</p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section empty-section">
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="time_log_batch">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="sales_invoice">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="amended_from">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="title">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span> <span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

