<template name="ManufacturingSetupManufacturingSettings">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">Manufacturing Settings</div>
								<!--<span class="indicator-blue indicator-text">{{shipping_rule_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<!--<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Shipping Rule</a></li>
								</ul>
						</div>-->
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{shipping_rule_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> ManufacturingSettingsSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> ManufacturingSettingsForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="ManufacturingSettingsSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="ManufacturingSettingsForm">
	<div class="layout-main-section">
		<div class="form-inner-toolbar hide"></div>
		<div class="page-form row hide"></div>
		<div>
		    <div>
		        <div class="form-layout">
		            <div class="form-dashboard" style="display: none;">
		                <div class="row" style="padding: 15px 30px;"></div>
		            </div>
		            <div class="form-page">
		                <div class="row form-section visible-section">
		                    <div class="col-sm-12">
		                        <h3 class="form-section-heading">Capacity Planning</h3></div>
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="disable_capacity_planning">
		                                    <div class="cbox"> <label class="checkbox-label">     <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="disable_capacity_planning" placeholder="" data-doctype="Manufacturing Settings"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"> &nbsp;Disable Capacity Planning and Time Tracking</span>    </label>
		                                        <p class="help-box small text-muted">Disables creation of time logs against Production Orders. Operations shall not be tracked against Production Order</p>
		                                    </div>
		                                </div>
		                                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_overtime">
		                                    <div class="cbox"> <label class="checkbox-label">     <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="allow_overtime" placeholder="" data-doctype="Manufacturing Settings"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"> &nbsp;Allow Overtime</span>    </label>
		                                        <p class="help-box small text-muted">Plan time logs outside Workstation Working Hours.</p>
		                                    </div>
		                                </div>
		                                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_production_on_holidays">
		                                    <div class="cbox"> <label class="checkbox-label">     <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="allow_production_on_holidays" placeholder="" data-doctype="Manufacturing Settings"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"> &nbsp;Allow Production on Holidays</span>    </label>
		                                        <p class="help-box small text-muted"></p>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="capacity_planning_for_days">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Capacity Planning For (Days)</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="capacity_planning_for_days" placeholder="" data-doctype="Manufacturing Settings"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;">30</div>
		                                            <p class="help-box small text-muted hidden-xs">Try planning operations for X days in advance.</p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="mins_between_operations">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Time Between Operations (in mins)</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="mins_between_operations" placeholder="" data-doctype="Manufacturing Settings"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs">Default 10 mins</p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <div class="row form-section visible-section shaded-section">
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Percent" data-fieldname="over_production_allowance_percentage">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Over Production Allowance Percentage</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Percent" data-fieldname="over_production_allowance_percentage" placeholder="" data-doctype="Manufacturing Settings"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;">0%</div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="backflush_raw_materials_based_on">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Backflush Raw Materials Based On</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="backflush_raw_materials_based_on" placeholder="" data-doctype="Manufacturing Settings"><option value="BOM">BOM</option><option value="Material Transferred for Manufacture">Material Transferred for Manufacture</option></select></div>
		                                            <div class="control-value like-disabled-input" style="display: none;">BOM</div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="default_wip_warehouse">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Default Work In Progress Warehouse</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="default_wip_warehouse" placeholder="" data-doctype="Manufacturing Settings" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-17" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="default_fg_warehouse">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Default Finished Goods Warehouse</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="default_fg_warehouse" placeholder="" data-doctype="Manufacturing Settings" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-18" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<!-- Comments Footer -->
	<div style="padding-top: 20px; padding-bottom:20px;">
		<div class="form-footer">
			<div class="after-save" style="border: 1px solid #ddd;">
				<div class="form-comments">
					<div class="timeline">
						<div class="timeline-head">
						    <h5 class="text-muted">Add a comment</h5>
						    <div>
						        <textarea style="height: 80px" class="form-control"></textarea>
						    </div>
						    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
						        <div class="media-body">
						            <div class="row">
						                <div class="col-xs-4">
						                    <h5>You</h5> </div>
						                <div class="col-xs-8 text-right" style="margin-top: 2px;">
						                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
						                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
						                        <label class="email-checkbox-label">
						                            <input type="checkbox" class="is-email">&nbsp; Email </label>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
						<div class="timeline-items">
						    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
						        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
						            <div>
						                <div class="pull-right"> <span class="small text-muted">  </span> </div>
						                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span> <span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
		</div>
	</div>
	<div class="form-group">
		<div class="submit-div">
			<button id="form-submit-button" class="btn btn-success" type="submit">
				<span class="fa fa-check">
				</span>
				Save
			</button>
			<a href="#" id="form-cancel-button" class="btn btn-default">
				Cancel
			</a>
		</div>
	</div>
</template>

