<template name="PosNew">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">New POS Profile 1</div>
								<span class="indicator-orange indicator-text">Not Saved</span>
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<!--<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-th"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Form View</a></li>
									<li class="divider"></li>
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">New Sales Invoice</a></li>
								</ul>
							<div class="pull-right" style="position: relative; margin-left: 4px;">
								<button class="btn btn-primary btn-sm">Pay</button>
							</div>
							<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
								{{company_details.name}}
							</div>
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="padding-bottom: 20px; padding-top:20px;">
						{{> PosNewForm}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="PosNewForm">
	<div class="layout-main-section">
		<div class="form-inner-toolbar hide"></div>
		<div class="page-form row hide"></div>
		<div>
		    <div>
		        <div class="form-layout">
		            <div class="form-dashboard" style="display: none;">
		                <div class="row" style="padding: 15px 30px;"></div>
		            </div>
		            <div class="form-page">
		                <div class="row form-section visible-section">
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="user">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Applicable for User</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="user" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-141" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width has-error" data-fieldtype="Select" data-fieldname="naming_series">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Series</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="naming_series" placeholder="" data-doctype="POS Profile"><option value="SINV-">SINV-</option><option value="SINV-RET-">SINV-RET-</option></select></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="warehouse">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Warehouse</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="warehouse" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-142" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="update_stock">
		                                    <div class="cbox"> <label class="checkbox-label">     <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="update_stock" placeholder="" data-doctype="POS Profile"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"> &nbsp;Update Stock</span>    </label>
		                                        <p class="help-box small text-muted"></p>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="customer">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Customer</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="customer" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-143" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="company">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Company</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="company" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-144" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Company/Wind%20Power%20LLC" data-doctype="Company">Wind Power LLC</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="currency">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Currency</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="currency" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-145" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Currency/USD" data-doctype="Currency">USD</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="mode_of_payment">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Mode of Payment</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="mode_of_payment" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-146" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <div class="row form-section visible-section shaded-section">
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="print_format">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Print Format</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="print_format" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-147" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="letter_head">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Letter Head</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="letter_head" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-148" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="select_print_heading">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Print Heading</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="select_print_heading" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-149" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="tc_name">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Terms and Conditions</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="tc_name" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-150" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="territory">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Territory</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="territory" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-151" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="selling_price_list">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Price List</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="selling_price_list" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-152" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Price%20List/Standard%20Selling" data-doctype="Price%20List">Standard Selling</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <div class="row form-section visible-section">
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width has-error" data-fieldtype="Link" data-fieldname="write_off_account">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Write Off Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="write_off_account" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-153" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width has-error" data-fieldtype="Link" data-fieldname="write_off_cost_center">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Write Off Cost Center</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="write_off_cost_center" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-154" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="taxes_and_charges">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Taxes and Charges</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="taxes_and_charges" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-155" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="cash_bank_account">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Cash/Bank Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="cash_bank_account" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-156" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="income_account">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Income Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="income_account" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-157" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="expense_account">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Expense Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="expense_account" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-158" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="cost_center">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Cost Center</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="cost_center" placeholder="" data-doctype="POS Profile" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-159" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="form-group" style="margin-top: 15px;">
		<div class="submit-div">
			<button id="form-submit-button" class="btn btn-success" type="submit">
				<span class="fa fa-check">
				</span>
				Save
			</button>
			<a href="#" id="form-cancel-button" class="btn btn-default">
				Cancel
			</a>
		</div>
	</div>
</template>

