<template name="DoctypesEmploymentType">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{doctype_details.name}}</div>
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Rename</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Doctype</a></li>
								</ul>
						</div>
					</td>
				</tr>
			</table>
        </div>
    </div>

	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> DoctypesEmploymentTypeSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> DoctypesEmploymentTypeForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="DoctypesEmploymentTypeSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="DoctypesEmploymentTypeForm">
	<div id="doctypes-employment-type-form" class="">
		<form role="form">
			<!-- Main Form Layout -->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
						    <div class="form-dashboard" style="display: none;">
						        <div class="row" style="padding: 15px 30px;"></div>
						    </div>
						    <div class="form-page">
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="module">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Module</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Module%20Def/HR" data-doctype="Module%20Def">HR</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="istable">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Is Child Table</span>    </label>
						                                <p class="help-box small text-muted">Child Tables are shown as a Grid in other DocTypes.</p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="issingle">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Is Single</span>    </label>
						                                <p class="help-box small text-muted">Single Types have only one record no tables associated. Values are stored in collection Singles</p>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="document_type">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Document Type</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">Setup</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="icon">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Icon</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">icon-flag</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="custom">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Custom?</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="plugin">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Fields</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Table" data-fieldname="fields">
						                            <div data-fieldname="fields">
						                                <div class="form-grid">
						                                    <div class="grid-heading-row">
						                                        <div class="grid-row">
						                                            <div class="data-row row sortable-handle">
						                                                <div class="row-index">&nbsp;</div>
						                                                <div class="row-data">
						                                                    <div class="row">
						                                                        <div class="col-sm-4"> Label </div>
						                                                        <div class="col-sm-4"> Field Type </div>
						                                                        <div class="col-sm-4"> Options </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                    <div class="grid-body">
						                                        <div class="rows">
						                                            <div class="grid-row" data-idx="1">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">1</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <span class="text-danger">                                      <i class="fa fa-list"></i>            Employment Type          </span> </div>
						                                                            <div class="col-sm-3"> Data <br><span class="small">employee_type_name</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                        </div>
						                                        <div class="grid-empty text-center hide">No Data</div>
						                                        <div class="small form-clickable-section grid-footer">
						                                            <div class="row">
						                                                <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
						                                                <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Naming</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="autoname">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Auto Name</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">field:employee_type_name</div>
						                                    <p class="help-box small text-muted hidden-xs"><a onclick="msgprint('<ol>\
			<li><b>field:[fieldname]</b> - By Field\
			<li><b>naming_series:</b> - By Naming Series (field called naming_series must be present\
			<li><b>Prompt</b> - Prompt user for a name\
			<li><b>[series]</b> - Series by prefix (separated by a dot); for example PRE.#####\
			</ol>')">Naming Options</a></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="name_case">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control hide-control" data-fieldtype="Small Text" data-fieldname="description">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Description</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input for-description" style="">Users who can approve a specific employee's leave applications</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="title_field">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Title Field</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">employee_name</div>
						                                    <p class="help-box small text-muted hidden-xs">Show this field as title</p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="search_fields">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Search Fields</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">employee_name</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="sort_field">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Sort Field</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">modified</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="sort_order">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Sort Order</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">DESC</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Permission Rules</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Table" data-fieldname="permissions">
						                            <div data-fieldname="permissions">
						                                <div class="form-grid">
						                                    <div class="grid-heading-row">
						                                        <div class="grid-row">
						                                            <div class="data-row row sortable-handle">
						                                                <div class="row-index">&nbsp;</div>
						                                                <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="role">Role</div>
						                                                <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="permlevel">Level</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="read">Read</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="write">Write</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="create">Create</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="delete">Delete</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="submit">Submit</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="cancel">Cancel</div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                    <div class="grid-body">
						                                        <div class="rows">
						                                            <div class="grid-row" data-idx="1">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">1</div>
						                                                    <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="role"><a class="grey" href="#Form/Role/HR%20User" data-doctype="Role">HR User</a></div>
						                                                    <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="permlevel">
						                                                        <div style="text-align: right">0</div>
						                                                    </div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="read"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="write"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="create"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="delete"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="submit"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="cancel"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="2">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">2</div>
						                                                    <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="role"><a class="grey" href="#Form/Role/HR%20Manager" data-doctype="Role">HR Manager</a></div>
						                                                    <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="permlevel">
						                                                        <div style="text-align: right">0</div>
						                                                    </div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="read"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="write"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="create"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="delete"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="submit"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="cancel"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                </div>
						                                            </div>
						                                        </div>
						                                        <div class="grid-empty text-center hide">No Data</div>
						                                        <div class="small form-clickable-section grid-footer">
						                                            <div class="row">
						                                                <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
						                                                <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form> <label class="control-label">Permissions Settings</label>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="in_create">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">User Cannot Create</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="read_only">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">User Cannot Search</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="is_submittable">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Is Submittable</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_import">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="octicon octicon-check" style="margin-right: 8px;"></i></span>     <span class="label-area small">Allow Import</span>    </label>
						                                <p class="help-box small text-muted">Allow Import via Data Import Tool</p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_rename">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="octicon octicon-check" style="margin-right: 8px;"></i></span>     <span class="label-area small">Allow Rename</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="in_dialog">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">In Dialog</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="read_only_onload">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Show Print First</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Int" data-fieldname="max_attachments">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Max Attachments</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">3</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form> <label class="control-label">Hide Actions</label>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="hide_heading">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Hide Heading</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="hide_toolbar">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Hide Toolbar</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_copy">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Hide Copy</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="default_print_format">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

