<template name="HolidayListEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{holiday_list_details.name}}</div>
								<!--<span class="indicator-blue indicator-text">{{holiday_list_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Rename</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Holiday List</a></li>
								</ul>
						</div>
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{holiday_list_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> HolidayListEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> HolidayListEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="HolidayListEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="HolidayListEditEditForm">
	<div id="holiday-list-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{holiday_list_details.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-holiday-list-name">
				<label for="holiday_list_name">
					Holiday List Name
				</label>
				<div class="input-div">
					<input type="text" name="holiday_list_name" value="{{holiday_list_details.holiday_list_name}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-is-default">
				<label for="is_default">
					Default
				</label>
				<div class="input-div">
					<input type="text" name="is_default" value="{{holiday_list_details.is_default}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
							<div class="form-dashboard" style="display: none;">
								<div class="row" style="padding: 15px 30px;"></div>
							</div>
							<div class="form-page">
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="holiday_list_name">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Holiday List Name</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="holiday_list_name" placeholder="" data-doctype="Holiday List">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">2015</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="is_default">
								                    <div class="cbox">
								                        <label class="email-checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="is_default" placeholder="" data-doctype="Holiday List"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Default</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="fiscal_year">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Fiscal Year</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="fiscal_year" placeholder="" data-doctype="Holiday List" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-7" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Fiscal%20Year/2015" data-doctype="Fiscal%20Year">2015</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="weekly_off">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Weekly Off</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="weekly_off" placeholder="" data-doctype="Holiday List">
								                                    <option></option>
								                                    <option value="Sunday">Sunday</option>
								                                    <option value="Monday">Monday</option>
								                                    <option value="Tuesday">Tuesday</option>
								                                    <option value="Wednesday">Wednesday</option>
								                                    <option value="Thursday">Thursday</option>
								                                    <option value="Friday">Friday</option>
								                                    <option value="Saturday">Saturday</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Saturday</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="get_weekly_off_dates">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="get_weekly_off_dates" placeholder="" data-doctype="Holiday List" value="">Get Weekly Off Dates</button>
								                            </div>
								                            <div class="hide" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="Table" data-fieldname="holidays">
								                    <div data-fieldname="holidays">
								                        <div class="form-grid">
								                            <div class="grid-heading-row">
								                                <div class="grid-row">
								                                    <div class="data-row row sortable-handle">
								                                        <div class="row-index">&nbsp;</div>
								                                        <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Description</div>
								                                        <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">Date</div>
								                                    </div>
								                                </div>
								                            </div>
								                            <div class="grid-body">
								                                <div class="rows">
								                                    <div class="grid-row" data-idx="1">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">1</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-04-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="2">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">2</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-11-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="3">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">3</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-18-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="4">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">4</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-25-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="5">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">5</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-01-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="6">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">6</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-08-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="7">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">7</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-15-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="8">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">8</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-22-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="9">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">9</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-01-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="10">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">10</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-08-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="11">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">11</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-15-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="12">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">12</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-22-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="13">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">13</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-29-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="14">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">14</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-05-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="15">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">15</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-12-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="16">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">16</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-19-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="17">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">17</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-26-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="18">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">18</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-03-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="19">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">19</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-10-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="20">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">20</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-17-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="21">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">21</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-24-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="22">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">22</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-31-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="23">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">23</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-07-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="24">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">24</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-14-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="25">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">25</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-21-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="26">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">26</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-28-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="27">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">27</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-05-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="28">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">28</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-12-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="29">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">29</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-19-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="30">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">30</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-26-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="31">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">31</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-02-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="32">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">32</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-09-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="33">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">33</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-16-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="34">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">34</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-23-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="35">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">35</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-30-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="36">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">36</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-06-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="37">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">37</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-13-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="38">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">38</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-20-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="39">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">39</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-27-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="40">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">40</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-04-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="41">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">41</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-11-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="42">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">42</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-18-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="43">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">43</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-25-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="44">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">44</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-01-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="45">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">45</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-08-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="46">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">46</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-15-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="47">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">47</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-22-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="48">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">48</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-29-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="49">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">49</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-06-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="50">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">50</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-13-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="51">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">51</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-20-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="52">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">52</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Sunday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-27-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="53">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">53</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-03-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="54">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">54</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-10-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="55">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">55</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-17-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="56">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">56</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-24-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="57">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">57</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">01-31-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="58">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">58</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-07-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="59">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">59</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-14-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="60">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">60</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-21-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="61">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">61</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">02-28-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="62">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">62</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-07-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="63">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">63</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-14-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="64">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">64</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-21-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="65">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">65</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">03-28-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="66">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">66</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-04-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="67">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">67</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-11-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="68">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">68</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-18-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="69">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">69</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">04-25-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="70">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">70</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-02-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="71">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">71</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-09-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="72">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">72</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-16-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="73">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">73</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-23-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="74">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">74</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">05-30-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="75">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">75</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-06-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="76">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">76</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-13-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="77">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">77</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-20-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="78">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">78</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">06-27-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="79">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">79</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-04-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="80">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">80</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-11-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="81">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">81</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-18-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="82">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">82</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">07-25-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="83">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">83</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-01-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="84">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">84</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-08-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="85">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">85</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-15-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="86">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">86</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-22-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="87">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">87</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">08-29-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="88">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">88</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-05-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="89">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">89</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-12-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="90">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">90</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-19-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="91">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">91</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">09-26-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="92">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">92</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-03-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="93">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">93</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-10-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="94">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">94</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-17-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="95">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">95</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-24-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="96">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">96</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">10-31-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="97">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">97</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-07-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="98">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">98</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-14-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="99">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">99</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-21-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="100">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">100</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">11-28-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="101">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">101</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-05-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="102">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">102</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-12-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="103">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">103</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-19-2015</div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="104">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">104</div>
								                                            <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="description">Saturday</div>
								                                            <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="holiday_date">12-26-2015</div>
								                                        </div>
								                                    </div>
								                                </div>
								                                <div class="grid-empty text-center hide">No Data</div>
								                                <div class="small form-clickable-section grid-footer">
								                                    <div class="row">
								                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
								                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="clear_table">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="clear_table" placeholder="" data-doctype="Holiday List" value="">Clear Table</button>
								                            </div>
								                            <div class="hide" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

