<template name="CustomerEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{customer_details.name}}</div>
								<!--<span class="indicator-blue indicator-text">{{customer_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Rename</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Customer</a></li>
								</ul>
							<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
								{{customer_details.name}}
							</div>-->
						</div>
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> CustomerEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> CustomerEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="CustomerEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="CustomerEditEditForm">
	<div id="customer-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-name">
				<label for="name">
					Full Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{customer_details.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-customer-group">
				<label for="customer_group">
					Customer Group
				</label>
				<div class="input-div">
					<input type="text" name="customer_group" value="{{customer_details.customer_group}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-territory">
				<label for="territory">
					Territory
				</label>
				<div class="input-div">
					<input type="text" name="territory" value="{{customer_details.territory}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
							<div class="form-dashboard" style="display: block;">
								<div class="row" style="padding: 15px 30px;">
								    <h3 class="form-headline col-md-12" style="padding-bottom: 10px;">Total Billing This Year: <b>$ 0.00</b> / <span class="text-muted">Unpaid: <b>$ 0.00</b></span></h3>
								    <div class="col-md-4">
								        <div class="alert-badge" data-doctype="Opportunity"> <a class="badge-link h6 text-muted">Opportunity    <span class="badge" style="margin-left: 10px; font-size: 12px;">3</span></a> </div>
								    </div>
								    <div class="col-md-4">
								        <div class="alert-badge" data-doctype="Quotation"> <a class="badge-link h6 text-muted">Quotation    <span class="badge" style="margin-left: 10px; font-size: 12px;">3</span></a> </div>
								    </div>
								    <div class="col-md-4">
								        <div class="alert-badge" data-doctype="Sales Order"> <a class="badge-link h6 text-muted">Sales Order    <span class="badge" style="margin-left: 10px; font-size: 12px;">0</span></a> </div>
								    </div>
								    <div class="col-md-4" style="padding-top: 10px;">
								        <div class="alert-badge" data-doctype="Delivery Note"> <a class="badge-link h6 text-muted">Delivery Note    <span class="badge" style="margin-left: 10px; font-size: 12px;">1</span></a> </div>
								    </div>
								    <div class="col-md-4" style="padding-top: 10px;">
								        <div class="alert-badge" data-doctype="Sales Invoice"> <a class="badge-link h6 text-muted">Sales Invoice    <span class="badge" style="margin-left: 10px; font-size: 12px;">0</span></a> </div>
								    </div>
								    <div class="col-md-4" style="padding-top: 10px;">
								        <div class="alert-badge" data-doctype="Project"> <a class="badge-link h6 text-muted">Project    <span class="badge" style="margin-left: 10px; font-size: 12px;">0</span></a> </div>
								    </div>
								</div>
							</div>
							<div class="form-page">
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="naming_series">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="customer_name">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Full Name</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="customer_name" placeholder="" data-doctype="Customer">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">SigmaStar</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="customer_type">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Type</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="customer_type" placeholder="" data-doctype="Customer">
								                                    <option></option>
								                                    <option value="Company">Company</option>
								                                    <option value="Individual">Individual</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Company</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="lead_name">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">From Lead</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="lead_name" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-55" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="customer_group">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Customer Group</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="customer_group" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-56" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Customer%20Group/Commercial" data-doctype="Customer%20Group">Commercial</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="territory">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Territory</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="territory" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-57" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Territory/Canada" data-doctype="Territory">Canada</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="tax_id">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Tax ID</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="tax_id" placeholder="" data-doctype="Customer">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="is_frozen">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="is_frozen" placeholder="" data-doctype="Customer"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Is Frozen</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="default_currency">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Billing Currency</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="default_currency" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-58" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="default_price_list">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Default Price List</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="default_price_list" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-59" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="default_taxes_and_charges">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Default Taxes and Charges</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="default_taxes_and_charges" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-60" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section">
								    <div class="col-sm-12">
								        <h3 class="form-section-heading">Address and Contact</h3></div>
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control" data-fieldtype="HTML" data-fieldname="address_html">
								                    <p>
								                        <button class="btn btn-xs btn-default btn-address">New Address</button>
								                    </p>
								                    <div class="clearfix"></div>
								                    <p class="h6"> 1. Billing <span class="text-muted">(Primary)</span> <a href="#Form/Address/Developer and Son-Billing" class="btn btn-default btn-xs pull-right"> Edit</a> </p>
								                    <div style="padding-left: 15px;">
								                        <p style="margin-top: 5px; font-size: 12px;"> 29 Camden Street
								                            <br>Suite 205
								                            <br>Toronto
								                            <br> ON
								                            <br>M5V3N3
								                            <br>Canada
								                            <br> Phone: 905-397-9884
								                            <br>Email: dave@devandson.com
								                            <br>
								                        </p>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control" data-fieldtype="HTML" data-fieldname="contact_html">
								                    <p>
								                        <button class="btn btn-xs btn-default btn-contact"> New Contact</button>
								                    </p>
								                    <div class="clearfix"></div>
								                    <p class="h6"> 1. Ron Dragushan <span class="text-muted">(Primary)</span> <a href="#Form/Contact/Ron Dragushan-SigmaStar" class="btn btn-xs btn-default pull-right"> Edit</a> </p>
								                    <div style="padding-left: 15px;">
								                        <p style="padding-top: 5px; font-size: 12px;"> </p>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-head"><a class="h6">Default Receivable Accounts</a><span class="octicon collapse-indicator octicon-chevron-up"></span></div>
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control" data-fieldtype="Table" data-fieldname="accounts">
								                    <p class="text-muted small">Mention if non-standard receivable account</p>
								                    <div data-fieldname="accounts">
								                        <div class="form-grid">
								                            <div class="grid-heading-row">
								                                <div class="grid-row">
								                                    <div class="data-row row sortable-handle">
								                                        <div class="row-index">&nbsp;</div>
								                                        <div class="col col-xs-6 grid-overflow-ellipsis grid-static-col" data-fieldname="company">Company</div>
								                                        <div class="col col-xs-5 grid-overflow-ellipsis grid-static-col" data-fieldname="account">Account</div>
								                                    </div>
								                                </div>
								                            </div>
								                            <div class="grid-body">
								                                <div class="rows"></div>
								                                <div class="grid-empty text-center">No Data</div>
								                                <div class="small form-clickable-section grid-footer">
								                                    <div class="row">
								                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
								                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section">
								    <div class="section-head"><a class="h6">Credit Limit</a><span class="octicon collapse-indicator octicon-chevron-up"></span></div>
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="credit_days_based_on">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Credit Days Based On</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="credit_days_based_on" placeholder="" data-doctype="Customer">
								                                    <option></option>
								                                    <option value="Fixed Days">Fixed Days</option>
								                                    <option value="Last Day of the Next Month">Last Day of the Next Month</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Int" data-fieldname="credit_days">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Currency" data-fieldname="credit_limit">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Credit Limit</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Currency" data-fieldname="credit_limit" placeholder="" data-doctype="Customer">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-head"><a class="h6">Customer Details</a><span class="octicon collapse-indicator octicon-chevron-up"></span></div>
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control" data-fieldtype="Text" data-fieldname="customer_details">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Customer Details</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <textarea type="text" class="input-with-feedback form-control" data-fieldtype="Text" data-fieldname="customer_details" placeholder="" data-doctype="Customer"></textarea>
								                            </div>
								                            <div class="control-value like-disabled-input for-description" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs">Additional information regarding the customer.</p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="website">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Website</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="website" placeholder="" data-doctype="Customer">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section">
								    <div class="section-head"><a class="h6">Sales Partner and Commission</a><span class="octicon collapse-indicator octicon-chevron-up"></span></div>
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="default_sales_partner">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Sales Partner</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="default_sales_partner" placeholder="" data-doctype="Customer" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-61" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Float" data-fieldname="default_commission_rate">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Commission Rate</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Float" data-fieldname="default_commission_rate" placeholder="" data-doctype="Customer">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-head"><a class="h6">Sales Team</a><span class="octicon collapse-indicator octicon-chevron-up"></span></div>
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control" data-fieldtype="Table" data-fieldname="sales_team">
								                    <div data-fieldname="sales_team">
								                        <div class="form-grid">
								                            <div class="grid-heading-row">
								                                <div class="grid-row">
								                                    <div class="data-row row sortable-handle">
								                                        <div class="row-index">&nbsp;</div>
								                                        <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="sales_person">Sales Person</div>
								                                        <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="allocated_percentage">Contribution (%)</div>
								                                    </div>
								                                </div>
								                            </div>
								                            <div class="grid-body">
								                                <div class="rows"></div>
								                                <div class="grid-empty text-center">No Data</div>
								                                <div class="small form-clickable-section grid-footer">
								                                    <div class="row">
								                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
								                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control hide-control" data-fieldtype="Table" data-fieldname="communications">
								                    <div data-fieldname="communications">
								                        <div class="form-grid">
								                            <div class="grid-heading-row"></div>
								                            <div class="grid-body">
								                                <div class="rows"></div>
								                                <div class="grid-empty text-center hide">No Data</div>
								                                <div class="small form-clickable-section grid-footer">
								                                    <div class="row">
								                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px;"> Add multiple rows</a> </div>
								                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

