<template name="DoctypesWebsiteSettings">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{doctype_details.name}}</div>
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Rename</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Doctype</a></li>
								</ul>
						</div>
					</td>
				</tr>
			</table>
        </div>
    </div>

	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> DoctypesWebsiteSettingsSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> DoctypesWebsiteSettingsForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="DoctypesWebsiteSettingsSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="DoctypesWebsiteSettingsForm">
	<div id="doctypes-website-settings-form" class="">
		<form role="form">
			<!-- Main Form Layout -->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
						    <div class="form-dashboard" style="display: none;">
						        <div class="row" style="padding: 15px 30px;"></div>
						    </div>
						    <div class="form-page">
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="module">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Module</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Module%20Def/Website" data-doctype="Module%20Def">Website</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="istable">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Is Child Table</span>    </label>
						                                <p class="help-box small text-muted">Child Tables are shown as a Grid in other DocTypes.</p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="issingle">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="octicon octicon-check" style="margin-right: 8px;"></i></span>     <span class="label-area small">Is Single</span>    </label>
						                                <p class="help-box small text-muted">Single Types have only one record no tables associated. Values are stored in collection Singles</p>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="document_type">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Document Type</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">Other</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="icon">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Icon</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">icon-cog</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="custom">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Custom?</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="plugin">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Fields</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Table" data-fieldname="fields">
						                            <div data-fieldname="fields">
						                                <div class="form-grid">
						                                    <div class="grid-heading-row">
						                                        <div class="grid-row">
						                                            <div class="data-row row sortable-handle">
						                                                <div class="row-index">&nbsp;</div>
						                                                <div class="row-data">
						                                                    <div class="row">
						                                                        <div class="col-sm-4"> Label </div>
						                                                        <div class="col-sm-4"> Field Type </div>
						                                                        <div class="col-sm-4"> Options </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                    <div class="grid-body">
						                                        <div class="rows">
						                                            <div class="grid-row" data-idx="1">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">1</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      Landing Page                   </strong> </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">sb0</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="2">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">2</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-list"></i> Home Page
						                                                                <p class="text-muted small">Link that is the website home page. Standard Links (index, login, products, blog, about, contact)</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Data <br><span class="small">home_page</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="3">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">3</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-list"></i> Home Page is Products
						                                                                <p class="text-muted small">If checked, the Home page will be the default Item Group for the website.</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">home_page_is_products</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="4">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">4</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #f5f7fa; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> </div>
						                                                            <div class="col-sm-3"> Column Break <br><span class="small">cb4</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="5">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">5</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-list"></i> Title Prefix
						                                                                <p class="text-muted small">Show title in browser window as "Prefix - title"</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Data <br><span class="small">title_prefix</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="6">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">6</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                                         </strong> </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">section_break_6</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="7">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">7</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-link"></i> Website Theme </div>
						                                                            <div class="col-sm-3"> Link <br><span class="small">website_theme</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> Website Theme <br>Default: <strong>Standard</strong> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="8">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">8</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <span class="text-muted"><i class="fa fa-eye-slash"></i>                                       Website Theme Image     </span> </div>
						                                                            <div class="col-sm-3"> Image <br><span class="small">website_theme_image</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> website_theme_image_link </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="9">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">9</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <span class="text-muted"><i class="fa fa-eye-slash"></i>                                       Website Theme Image Link     </span> </div>
						                                                            <div class="col-sm-3"> Small Text <br><span class="small">website_theme_image_link</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="10">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">10</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      Banner                   </strong>
						                                                                <p class="text-muted small">Add a banner to the site. (small banners are usually good)</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">banner</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="11">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">11</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Banner Image
						                                                                <p class="text-muted small">Select an image of approx width 150px with a transparent background for best results.</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Attach Image <br><span class="small">banner_image</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="12">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">12</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Set Banner from Image </div>
						                                                            <div class="col-sm-3"> Button <br><span class="small">set_banner_from_image</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="13">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">13</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #f5f7fa; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> </div>
						                                                            <div class="col-sm-3"> Column Break <br><span class="small">column_break_14</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="14">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">14</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Banner HTML
						                                                                <p class="text-muted small">Banner is above the Top Menu Bar.</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Small Text <br><span class="small">banner_html</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="15">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">15</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      Top Bar                   </strong>
						                                                                <p class="text-muted small">Menu items in the Top Bar. For setting the color of the Top Bar, go to selected Website Theme.</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">top_bar</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="16">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">16</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Brand HTML
						                                                                <p class="text-muted small">Brand is what appears on the top-left of the toolbar. If it is an image, make sure it has a transparent background and use the &lt;img /&gt; tag. Keep size as 200px x 30px</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Small Text <br><span class="small">brand_html</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="17">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">17</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-th"></i> Top Bar Items </div>
						                                                            <div class="col-sm-3"> Table <br><span class="small">top_bar_items</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> Top Bar Item </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="18">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">18</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      Sidebar                   </strong>
						                                                                <p class="text-muted small">Sidebar Links for Home Page only</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">sidebar</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="19">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">19</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-th"></i> Sidebar Items </div>
						                                                            <div class="col-sm-3"> Table <br><span class="small">sidebar_items</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> Top Bar Item </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="20">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">20</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      Footer                   </strong> </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">footer</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="21">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">21</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Copyright </div>
						                                                            <div class="col-sm-3"> Data <br><span class="small">copyright</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="22">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">22</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Address
						                                                                <p class="text-muted small">Address and other legal information you may want to put in the footer.</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Text Editor <br><span class="small">address</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="23">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">23</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <i class="fa fa-th"></i> Footer Items </div>
						                                                            <div class="col-sm-3"> Table <br><span class="small">footer_items</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> Top Bar Item </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="24">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">24</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Hide Footer Signup </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">hide_footer_signup</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="25">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">25</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      Integrations                   </strong> </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">integrations</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="26">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">26</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Google Analytics ID
						                                                                <p class="text-muted small">Add Google Analytics ID: eg. UA-89XXX57-1. Please search help on Google Analytics for more information.</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Data <br><span class="small">google_analytics_id</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="27">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">27</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #f5f7fa; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> </div>
						                                                            <div class="col-sm-3"> Column Break <br><span class="small">column_break_17</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="28">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">28</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Google Plus One </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">google_plus_one</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="29">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">29</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Facebook Share </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">facebook_share</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="30">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">30</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Linked In Share </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">linked_in_share</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="31">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">31</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Twitter Share </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">twitter_share</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="32">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">32</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Twitter Share via
						                                                                <p class="text-muted small">Tweet will be shared via your user account (if specified)</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Data <br><span class="small">twitter_share_via</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="33">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">33</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                      More Information                   </strong> </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">misc_section</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="34">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">34</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> FavIcon
						                                                                <p class="text-muted small">An icon file with .ico extension. Should be 16 x 16 px. Generated using a favicon generator. [favicon-generator.org]</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Attach <br><span class="small">favicon</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="35">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">35</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Subdomain
						                                                                <p class="text-muted small">Sub-domain provided by griderp.org</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Text <br><span class="small">subdomain</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="36">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">36</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #f5f7fa; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> </div>
						                                                            <div class="col-sm-3"> Column Break <br><span class="small">column_break_28</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="37">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">37</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> Disable Signup
						                                                                <p class="text-muted small">Disable Customer Signup link in Login page</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Check <br><span class="small">disable_signup</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="38">
						                                                <div class="data-row row sortable-handle" style="font-weight: bold;">
						                                                    <div class="row-index">38</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #D9F6FF; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> <strong>                                                                         </strong> </div>
						                                                            <div class="col-sm-3"> Section Break <br><span class="small">section_break_38</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="39">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">39</div>
						                                                    <div class="row-data">
						                                                        <div class="row" style="background-color: #fff; padding: 10px; margin: -10px -15px;">
						                                                            <div class="col-sm-4"> &lt;head&gt; HTML
						                                                                <p class="text-muted small">Added HTML in the &lt;head&gt; section of the web page, primarily used for website verification and SEO</p>
						                                                            </div>
						                                                            <div class="col-sm-3"> Code <br><span class="small">head_html</span> </div>
						                                                            <div class="col-sm-4 grid-static-col"> HTML </div>
						                                                        </div>
						                                                    </div>
						                                                </div>
						                                            </div>
						                                        </div>
						                                        <div class="grid-empty text-center hide">No Data</div>
						                                        <div class="small form-clickable-section grid-footer">
						                                            <div class="row">
						                                                <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
						                                                <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section empty-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Naming</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="autoname">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Auto Name</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">field:title</div>
						                                    <p class="help-box small text-muted hidden-xs"><a onclick="msgprint('<ol>\
			<li><b>field:[fieldname]</b> - By Field\
			<li><b>naming_series:</b> - By Naming Series (field called naming_series must be present\
			<li><b>Prompt</b> - Prompt user for a name\
			<li><b>[series]</b> - Series by prefix (separated by a dot); for example PRE.#####\
			</ol>')">Naming Options</a></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="name_case">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Name Case</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">Title Case</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control hide-control" data-fieldtype="Small Text" data-fieldname="description">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Description</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input for-description" style="">Script to attach to all web pages.</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="title_field">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Title Field</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">title</div>
						                                    <p class="help-box small text-muted hidden-xs">Show this field as title</p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="search_fields">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Search Fields</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">title</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="sort_field">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Sort Field</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">modified</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="sort_order">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Sort Order</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">DESC</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Permission Rules</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Table" data-fieldname="permissions">
						                            <div data-fieldname="permissions">
						                                <div class="form-grid">
						                                    <div class="grid-heading-row">
						                                        <div class="grid-row">
						                                            <div class="data-row row sortable-handle">
						                                                <div class="row-index">&nbsp;</div>
						                                                <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="role">Role</div>
						                                                <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="permlevel">Level</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="read">Read</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="write">Write</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="create">Create</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="delete">Delete</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="submit">Submit</div>
						                                                <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="cancel">Cancel</div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                    <div class="grid-body">
						                                        <div class="rows">
						                                            <div class="grid-row" data-idx="1">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">1</div>
						                                                    <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="role"><a class="grey" href="#Form/Role/Website%20Manager" data-doctype="Role">Website Manager</a></div>
						                                                    <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="permlevel">
						                                                        <div style="text-align: right">0</div>
						                                                    </div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="read"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="write"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="create"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="delete"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="submit"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="cancel"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                </div>
						                                            </div>
						                                            <div class="grid-row" data-idx="2">
						                                                <div class="data-row row sortable-handle">
						                                                    <div class="row-index">2</div>
						                                                    <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="role"><a class="grey" href="#Form/Role/All" data-doctype="Role">All</a></div>
						                                                    <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="permlevel">
						                                                        <div style="text-align: right">1</div>
						                                                    </div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="read"><i class="octicon octicon-check" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="write"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="create"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="delete"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="submit"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                    <div class="col col-xs-1 grid-overflow-ellipsis grid-static-col" data-fieldname="cancel"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></div>
						                                                </div>
						                                            </div>
						                                        </div>
						                                        <div class="grid-empty text-center hide">No Data</div>
						                                        <div class="small form-clickable-section grid-footer">
						                                            <div class="row">
						                                                <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
						                                                <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
						                                            </div>
						                                        </div>
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form> <label class="control-label">Permissions Settings</label>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="in_create">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">User Cannot Create</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="read_only">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">User Cannot Search</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="is_submittable">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Is Submittable</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_import">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Allow Import</span>    </label>
						                                <p class="help-box small text-muted">Allow Import via Data Import Tool</p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_rename">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Allow Rename</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="in_dialog">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">In Dialog</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="read_only_onload">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Show Print First</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="max_attachments">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Max Attachments</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">10</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form> <label class="control-label">Hide Actions</label>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="hide_heading">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Hide Heading</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="hide_toolbar">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Hide Toolbar</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_copy">
						                            <div class="ckbox"> <label>     <span class="input-area" style="display: none;"></span>     <span class="disp-area" style="margin-left: -20px;"><i class="icon-check-empty text-extra-muted" style="margin-right: 8px;"></i></span>     <span class="label-area small">Hide Copy</span>    </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="default_print_format">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

