<template name="FileEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">File Manager</div>
								<!--<span class="indicator-blue indicator-text">{{file_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">New File/Folder</a></li>
								</ul>
						</div>
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{file_details.file_name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> FileEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox">
					<div class="ibox-content" style="padding-bottom: 415px; padding-top: 20px;">
						{{> FileEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="FileEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#">Quick Report</a></li>
			<li class="list-unstyled"><a href="#">Assigned To Me</a></li>
			<li class="list-unstyled" style="margin-top:15px;">
				<span class="text-muted">TAGS</span> 
					<a class="td-icon" href="#">&nbsp;
						<i class="fa fa-pencil"></i>
					</a>
			</li>
			<li class="list-unstyled">No records tagged.</li>
		</ul>
	</div>
</template>

<template name="FileEditEditForm">
	<div id="file-view">
		<div id="error">
		    <noscript>
                &lt;div class="response boh"&gt;
                    &lt;span&gt;&lt;i class="fa fa-exclamation-triangle"&gt;&lt;/i&gt; 
                        Please activate JavaScript&lt;/span&gt;
                &lt;/div&gt;
		    </noscript>
		    <div class="response yep"> <span><i class="fa fa-check-circle"></i> wall1.jpg </span> <i class="fa fa-times closealert"></i></div>
		</div>
		<section class="grdblock uploadarea">
		    <form enctype="multipart/form-data" method="post" id="upForm" action="http://fileman/"> <input type="hidden" name="location" value="./uploads/Test/">
		        <div id="upload_container" class="input-group pull-left span-6"><span class="input-group-addon ie_hidden" style="background-color: #f3f3f3;"><i class="fa fa-files-o fa-fw"></i></span><span class="input-group-btn" id="upload_file">
		            <span class="upfile btn btn-default btn-file"><i class="fa fa-plus fa-fw"></i>
		            <input name="userfile[]" type="file" multiple="" class="upload_file"></span></span><input class="form-control" type="text" readonly="" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" placeholder="Drag files here">
		            <span class="input-group-btn">
		            <button class="upload_sumbit btn btn-primary" type="submit" id="upformsubmit">
		            <i class="fa fa-upload fa-fw"></i></button>
		            <a href="#" class="btn btn-primary" id="upchunk"><i class="fa fa-upload fa-fw"></i><input type="file" multiple="multiple" style="display: none;"></a>
		            </span></div>
		    </form>
		    <form enctype="multipart/form-data" method="post">
		        <div id="newdir_container" class="input-group pull-right span-6"><span class="input-group-addon" style="background-color: #f3f3f3;"><i class="fa fa-folder-open-o fa-fw"></i></span><input name="userdir" type="text" class="upload_dirname form-control" placeholder="New directory">
		            <span class="input-group-btn">
		    <button class="btn btn-success upfolder" type="submit" disabled="disabled"><i class="fa fa-plus fa-fw"></i></button></span></div>
		    </form>
		    <div class="full">
		        <div class="progress progress-striped active" id="progress-up">
		            <div class="upbar progress-bar " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		                <p class="pull-left propercent"></p>
		            </div>
		        </div>
		    </div>
		</section>
		<ol class="breadcrumb" style="margin-bottom: 10px; padding: 8px 0; background: none; line-height: 14px; float: left; width: 100%;">
		    <li><a href="{{pathFor 'file'}}"><i class="fa fa-folder-open"></i> 
		        Root</a></li>
		    <li><a href="?dir=uploads/Test/"><i class="fa fa-folder-open-o"></i> Test</a></li>
		</ol>
		<section class="grdblock tableblock" style="opacity: 1;">
		    <div class="action-group">
		        <div class="btn-group">
		            <button type="button" class="btn btn-default dropdown-toggle groupact" data-toggle="dropdown" disabled="disabled">
		                <i class="fa fa-cog"></i> 
		                Group actions 
		                <span class="caret"></span>
		            </button>
		            <ul class="dropdown-menu" role="menu">
		                <li>
		                    <a class="multid" href="#">
		                        <i class="fa fa-cloud-download"></i> Download
		                    </a>
		                </li>
		                <li><a class="multic" href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
		            </ul>
		        </div>
		        <!-- .btn-group -->
		        <button class="btn btn-default manda" disabled="disabled">
		                <i class="fa fa-paper-plane"></i> 
		                Share                </button>
		    </div>
		    <!-- .action-group -->
		    <form id="tableform">
		        <div id="sort_wrapper" class="dataTables_wrapper no-footer">
		            <div class="dataTables_length" id="sort_length"><label><i class="fa fa-list-ol"></i> <select name="sort_length" aria-controls="sort" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div>
		            <div id="sort_filter" class="dataTables_filter"><label><span class="input-group-addon"><i class="fa fa-search"></i></span> <input type="search" class="" aria-controls="sort"></label></div>
		            <table class="table table-striped dataTable no-footer" width="100%" id="sort" role="grid" aria-describedby="sort_info" style="width: 100%;">
		                <thead>
		                    <tr class="rowa one" role="row">
		                        <td class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="
		                        
		                    " style="width: 97px;">
		                            <a href="#" id="selectall"><i class="fa fa-check fa-lg"></i></a>
		                        </td>
		                        <td class="icon sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 71px;"></td>
		                        <td class="mini header" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label="
		                        
		                            File name                            
		                    : activate to sort column ascending" style="width: 223px;">
		                            <span class="sorta nowrap">
		                            File name                            </span>
		                        </td>
		                        <td class="hidden header" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 0px;"></td>
		                        <td class="taglia reduce mini header" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label="
		                        
		                            Size                            
		                    : activate to sort column ascending" style="width: 171px;">
		                            <span class="hidden-xs centertext sorta nowrap">
		                            Size                            </span>
		                        </td>
		                        <td class="hidden header" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" aria-sort="descending" style="width: 0px;"></td>
		                        <td class="reduce mini header headerSortUp" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label="
		                        
		                            Last change                            
		                    : activate to sort column ascending" style="width: 343px;">
		                            <span class="hidden-xs centertext sorta nowrap">
		                            Last change                            </span>
		                        </td>
		                        <td class="mini centertext header" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 68px;"><i class="fa fa-pencil"></i></td>
		                        <td class="mini centertext header" tabindex="0" aria-controls="sort" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 65px;"><i class="fa fa-trash-o"></i></td>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr class="rowa gallindex odd" id="gall-0" role="row">
		                        <td class="checkb centertext">
		                            <input type="checkbox" name="selecta" class="selecta" value="dXBsb2Fkcy9UZXN0L3dhbGwxLmpwZw=="></td>
		                        <td class="icon centertext"><a href="download/dXBsb2Fkcy9UZXN0L3dhbGwxLmpwZw==/h/f5f4f2e7c1de554d41e6d47e89a45da1" data-name="wall1.jpg" data-link="uploads/Test/wall1.jpg" data-linkencoded="dXBsb2Fkcy9UZXN0L3dhbGwxLmpwZw==/h/f5f4f2e7c1de554d41e6d47e89a45da1" class="item thumb vfm-gall"><i class="fa fa-picture-o"></i></a></td>
		                        <td class="name"><a href="download/dXBsb2Fkcy9UZXN0L3dhbGwxLmpwZw==/h/f5f4f2e7c1de554d41e6d47e89a45da1" data-name="wall1.jpg" data-link="uploads/Test/wall1.jpg" data-linkencoded="dXBsb2Fkcy9UZXN0L3dhbGwxLmpwZw==/h/f5f4f2e7c1de554d41e6d47e89a45da1" class="item thumb">wall1.jpg</a><span class="hover"><i class="fa fa-eye fa-fw"></i></span></td>
		                        <td class="hidden">262</td>
		                        <td class="mini reduce nowrap"><span class="hidden-xs centertext">262.3 KB</span></td>
		                        <td class="hidden">1455212698</td>
		                        <td class="mini reduce sorting_1"><span class="hidden-xs centertext">11/02/2016 - 17:44</span></td>
		                        <td class="icon rename centertext"><a href="#" data-thisdir="uploads/Test/" data-thisext="jpg" data-thisname="wall1"><i class="fa fa-pencil-square-o" style="position: relative; top: 1px;"></i></a></td>
		                        <td class="del centertext">
		                            <a data-name="wall1.jpg" href="?dir=uploads/Test/&amp;del=dXBsb2Fkcy9UZXN0L3dhbGwxLmpwZw==&amp;h=be1ffc3b2a697b07a122d54d8a125db1">
		                                <i class="fa fa-times"></i>
		                            </a>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		            <div class="dataTables_info" id="sort_info" role="status" aria-live="polite">1 / 1 - 1 </div>
		            <div class="dataTables_paginate paging_full_numbers" id="sort_paginate" style="display: none;"><a class="paginate_button first disabled" aria-controls="sort" data-dt-idx="0" tabindex="0" id="sort_first"><i class="fa fa-angle-double-left"></i></a><a class="paginate_button previous disabled" aria-controls="sort" data-dt-idx="1" tabindex="0" id="sort_previous"><i class="fa fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="sort" data-dt-idx="2" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="sort" data-dt-idx="3" tabindex="0" id="sort_next"><i class="fa fa-angle-right"></i></a><a class="paginate_button last disabled" aria-controls="sort" data-dt-idx="4" tabindex="0" id="sort_last"><i class="fa fa-angle-double-right"></i></a></div>
		        </div>
		    </form>
		</section>
	</div>
</template>



