<template name="AccountsToolsPaymentTool">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">Payment Tool</div>
								<span class="indicator-orange indicator-text">Not Saved</span>
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<!--<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Blog Category</a></li>
								</ul>
						</div>-->
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{blog_category_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="padding-bottom: 20px; padding-top:20px;">
						{{> PaymentToolForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="PaymentToolForm">
	<div class="layout-main-section">
		<div class="form-inner-toolbar hide"></div>
		<div class="page-form row hide"></div>
		<div>
		    <div>
		        <div class="form-layout">
		            <div class="form-dashboard" style="display: none;">
		                <div class="row" style="padding: 15px 30px;"></div>
		            </div>
		            <div class="form-page">
		                <div class="row form-section visible-section">
		                    <div class="col-sm-12">
		                        <h3 class="form-section-heading">Find Invoices to Match</h3></div>
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="company" style="z-index: 1;">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Company</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="company" placeholder="" data-doctype="Payment Tool" autocomplete="off"> <span class="link-btn" style="display: none;">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-9" tabindex="0" style="display: none; width: 524px; top: 30px; left: 0.5px;">
		                                                        <li class="ui-menu-item" id="ui-id-15" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Wind Power LLC</strong></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-16" tabindex="-1">
		                                                            <a>
		                                                                <p><strong><span class="text-primary link-option"><i class="icon-search" style="margin-right: 5px;"></i> Advanced Search</span></strong></p>
		                                                            </a>
		                                                        </li>
		                                                    </ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Company/Wind%20Power%20LLC" data-doctype="Company">Wind Power LLC</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="party_type">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Party Type</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="party_type" placeholder="" data-doctype="Payment Tool" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-10" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/DocType/Customer" data-doctype="DocType">Customer</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="received_or_paid">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Received Or Paid</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="received_or_paid" placeholder="" data-doctype="Payment Tool"><option value="Received">Received</option><option value="Paid">Paid</option></select></div>
		                                            <div class="control-value like-disabled-input" style="display: none;">Received</div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Dynamic Link" data-fieldname="party" style="z-index: 1;">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Party</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Dynamic Link" data-fieldname="party" placeholder="" data-doctype="Payment Tool" autocomplete="off"> <span class="link-btn" style="display: none;">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-11" tabindex="0" style="display: none; width: 524px; top: 30px; left: 0.5px;">
		                                                        <li class="ui-menu-item" id="ui-id-17" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Adaptas</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-18" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Asian Fusion</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-19" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Asian Junction</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-20" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Big D Supermarkets</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-21" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Buttrey Food &amp; Drug</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-22" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Chi-Chis</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-23" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Choices</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-24" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Consumers and Consumers Express</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-25" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Crafts Canada</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-26" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Endicott Shoes</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-27" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Fayva</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-28" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Hind Enterprises</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-29" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Intelacard</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-30" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Landskip Yard Care</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-31" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Life Plan Counselling</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-32" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Mr Fables</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-33" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Nelson Brothers</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-34" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Netobill</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-35" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Red Food</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-36" tabindex="-1">
		                                                            <a>
		                                                                <p><strong>Two Pesos</strong><br><span class="small">Commercial, Rest Of The World</span></p>
		                                                            </a>
		                                                        </li>
		                                                        <li class="ui-menu-item" id="ui-id-37" tabindex="-1">
		                                                            <a>
		                                                                <p><strong><span class="text-primary link-option"><i class="icon-search" style="margin-right: 5px;"></i> Advanced Search</span></strong></p>
		                                                            </a>
		                                                        </li>
		                                                    </ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Customer/Adaptas" data-doctype="Customer">Adaptas</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="party_account">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Party Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="party_account" placeholder="" data-doctype="Payment Tool" autocomplete="off"> <span class="link-btn" style="display: none;">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-12" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Account/Debtors%20-%20WP" data-doctype="Account">Debtors - WP</a></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="party_account_currency">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="set_payment_amount">
		                                    <div class="cbox"> <label class="checkbox-label">     <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="set_payment_amount" placeholder="" data-doctype="Payment Tool"></span>     <span class="disp-area" style="display:none; margin-left: -20px;"></span>     <span class="label-area small"> &nbsp;Set Payment Amount = Outstanding Amount</span>    </label>
		                                        <p class="help-box small text-muted"></p>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="get_outstanding_vouchers">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><button class="btn btn-xs btn-success" data-fieldtype="Button" data-fieldname="get_outstanding_vouchers" placeholder="" data-doctype="Payment Tool" value="">Get Outstanding Vouchers</button></div>
		                                            <div class="hide" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <div class="row form-section">
		                    <div class="col-sm-12">
		                        <h3 class="form-section-heading">Set Matching Amounts</h3></div>
		                    <div class="section-body">
		                        <div class="form-column col-sm-12">
		                            <form>
		                                <div class="griderp-control" data-fieldtype="Table" data-fieldname="vouchers">
		                                    <div data-fieldname="vouchers">
		                                        <div class="form-grid">
		                                            <div class="grid-heading-row">
		                                                <div class="grid-row">
		                                                    <div class="data-row row sortable-handle">
		                                                        <div class="row-index">&nbsp;</div>
		                                                        <div class="col col-xs-3 grid-overflow-ellipsis grid-static-col" data-fieldname="against_voucher_type">Against Voucher Type</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis grid-static-col" data-fieldname="against_voucher_no">Against Voucher No</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="total_amount">Total Amount</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="outstanding_amount">Outstanding Amount</div>
		                                                        <div class="col col-xs-2 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="payment_amount">Payment Amount</div>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                            <div class="grid-body">
		                                                <div class="rows"></div>
		                                                <div class="grid-empty text-center">No Data</div>
		                                                <div class="small form-clickable-section grid-footer">
		                                                    <div class="row">
		                                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
		                                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <div class="row form-section">
		                    <div class="col-sm-12">
		                        <h3 class="form-section-heading">Make Payment Entry</h3></div>
		                    <div class="section-body">
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="payment_mode">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Payment Mode</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="payment_mode" placeholder="" data-doctype="Payment Tool" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-13" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="payment_account">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Payment Account</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input">
		                                                <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="payment_account" placeholder="" data-doctype="Payment Tool" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
		                                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-14" tabindex="0" style="display: none;"></ul>
		                                                </div>
		                                            </div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width hide-control" data-fieldtype="Currency" data-fieldname="total_payment_amount">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="form-column col-sm-6">
		                            <form>
		                                <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="reference_date">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Reference Date</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="reference_date" placeholder="" data-doctype="Payment Tool" id="dp1454689034580"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="reference_no">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Reference No</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="reference_no" placeholder="" data-doctype="Payment Tool"></div>
		                                            <div class="control-value like-disabled-input" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="make_journal_entry">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input"><button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="make_journal_entry" placeholder="" data-doctype="Payment Tool" value="">Make Journal Entry</button></div>
		                                            <div class="hide" style="display: none;"></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		                <div class="row form-section">
		                    <div class="section-body">
		                        <div class="form-column col-sm-12">
		                            <form>
		                                <div class="griderp-control" data-fieldtype="Small Text" data-fieldname="make_jv_help">
		                                    <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
		                                        <div class="control-input-wrapper">
		                                            <div class="control-input" style="display: none;"></div>
		                                            <div class="control-value like-disabled-input for-description" style=""></div>
		                                            <p class="help-box small text-muted hidden-xs"></p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</template>

