<template name="SetupDataFileData">

	{{> PageHeading title="File Manager" type="fileManager"}}

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        Welcome to the GridERP Project
                    </h1>
                    <small>
                        File Data module(s) go here.....
                    </small>
                </div>
            </div>
        </div>
		{{> SetupDataFileDataModule}}
    </div>

</template>

<template name="SetupDataFileDataModule">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">

					</div>
				</div>
			</div>
		</div>
</template>

