<template name="SerialNoEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{serial_no_details.name}}</div>
								<!--<span class="indicator-blue indicator-text">{{serial_no_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Rename</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Serial No</a></li>
								</ul>
						</div>
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{serial_no_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> SerialNoEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> SerialNoEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="SerialNoEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="SerialNoEditEditForm">
	<div id="serial-no-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{serial_no_details.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-item-code">
				<label for="item_code">
					Item Code
				</label>
				<div class="input-div">
					<input type="text" name="item_code" value="{{serial_no_details.item_code}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-warehouse">
				<label for="warehouse">
					Warehouse
				</label>
				<div class="input-div">
					<input type="text" name="warehouse" value="{{serial_no_details.warehouse}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
						    <div class="form-dashboard" style="display: none;">
						        <div class="row" style="padding: 15px 30px;"></div>
						    </div>
						    <div class="form-page">
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="serial_no">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Serial No</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="serial_no" placeholder="" data-doctype="Serial No"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;">WMA00005</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="item_code">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Item Code</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Item/Wind%20Mill%20A%20Series" data-doctype="Item">Wind Mill A Series</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="warehouse">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Warehouse</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Warehouse/Finished%20Goods%20-%20WP" data-doctype="Warehouse">Finished Goods - WP</a></div>
						                                    <p class="help-box small text-muted hidden-xs">Warehouse can only be changed via Stock Entry / Delivery Note / Purchase Receipt</p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="item_name">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Item Name</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">Wind Mill A Series</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control" data-fieldtype="Text" data-fieldname="description">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Description</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input for-description" style="">Wind Mill A Series for Home Use 9ft</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="item_group">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Item Group</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Item%20Group/Products" data-doctype="Item%20Group">Products</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="brand">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Purchase / Manufacture Details</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="purchase_document_type">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Creation Document Type</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/DocType/Stock%20Entry" data-doctype="DocType">Stock Entry</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Dynamic Link" data-fieldname="purchase_document_no">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Creation Document No</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Stock%20Entry/STE-00014" data-doctype="Stock%20Entry">STE-00014</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="purchase_date">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Creation Date</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">07-23-2015</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Time" data-fieldname="purchase_time">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Creation Time</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">10:45:00.834558</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Currency" data-fieldname="purchase_rate">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Incoming Rate</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style="">$ 489.84</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="supplier">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Supplier</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="supplier" placeholder="" data-doctype="Serial No" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-11" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="supplier_name">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Delivery Details</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="delivery_document_type">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="delivery_document_no">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Date" data-fieldname="delivery_date">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Time" data-fieldname="delivery_time">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="is_cancelled">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="customer">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Customer</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <div class="link-field ui-front" style="position: relative;"> <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="customer" placeholder="" data-doctype="Serial No" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-12" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="customer_name">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">Warranty / AMC Details</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="maintenance_status">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Maintenance Status</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="maintenance_status" placeholder="" data-doctype="Serial No"><option></option><option value="Under Warranty">Under Warranty</option><option value="Out of Warranty">Out of Warranty</option><option value="Under AMC">Under AMC</option><option value="Out of AMC">Out of AMC</option></select></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="warranty_period">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Warranty Period (Days)</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="warranty_period" placeholder="" data-doctype="Serial No"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="warranty_expiry_date">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Warranty Expiry Date</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="warranty_expiry_date" placeholder="" data-doctype="Serial No" id="dp1455643638155"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="amc_expiry_date">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">AMC Expiry Date</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"><input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="amc_expiry_date" placeholder="" data-doctype="Serial No" id="dp1455643638156"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="col-sm-12">
						                <h3 class="form-section-heading">More Information</h3></div>
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Text Editor" data-fieldname="serial_no_details">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Serial No Details</label>
						                                <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div>
								                                    <div>
																		<!-- Summernote Editor -->
																		<div class="summernote" style="display: none;">
																			<h3>Hello Customers! </h3> dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
																			<br>
																			<br>

																		</div>
								                                    </div>
								                                </div>
								                            </div>
						                                    <div class="control-value like-disabled-input for-description" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="company">
						                            <div class="form-group" style="margin: 0px"> <label class="control-label" style="padding-right: 0px;">Company</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: none;"></div>
						                                    <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/Company/Wind%20Power%20LLC" data-doctype="Company">Wind Power LLC</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

