<template name="PricingRuleEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{pricing_rule_details.title}}</div>
								<!--<span class="indicator-blue indicator-text">{{pricing_rule_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Pricing Rule</a></li>
								</ul>
						</div>
						<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{pricing_rule_details.name}}
						</div>
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> PricingRuleEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> PricingRuleEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="PricingRuleEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="PricingRuleEditEditForm">
	<div id="pricing-rule-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-title">
				<label for="name">
					Title
				</label>
				<div class="input-div">
					<input type="text" name="title" value="{{pricing_rule_details.title}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-apply-on">
				<label for="apply_on">
					Apply On
				</label>
				<div class="input-div">
					<input type="text" name="apply_on" value="{{pricing_rule_details.apply_on}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-item-code">
				<label for="item_code">
					Item Code
				</label>
				<div class="input-div">
					<input type="text" name="item_code" value="{{pricing_rule_details.item_code}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-name">
				<label for="name">
					Pricing Rule Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{pricing_rule_details.name}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
							<div class="form-dashboard" style="display: none;">
								<div class="row" style="padding: 15px 30px;"></div>
							</div>
							<div class="form-page">
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="title">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Title</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="title" placeholder="" data-doctype="Pricing Rule">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Pricing Rule1</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="apply_on">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Apply On</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="apply_on" placeholder="" data-doctype="Pricing Rule">
								                                    <option></option>
								                                    <option value="Item Code">Item Code</option>
								                                    <option value="Item Group">Item Group</option>
								                                    <option value="Brand">Brand</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Item Code</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="item_code">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Item Code</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="item_code" placeholder="" data-doctype="Pricing Rule" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-150" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Item/MeteorERP" data-doctype="Item">MeteorERP</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="brand">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="item_group">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="priority">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Priority</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="priority" placeholder="" data-doctype="Pricing Rule">
								                                    <option></option>
								                                    <option value="1">1</option>
								                                    <option value="2">2</option>
								                                    <option value="3">3</option>
								                                    <option value="4">4</option>
								                                    <option value="5">5</option>
								                                    <option value="6">6</option>
								                                    <option value="7">7</option>
								                                    <option value="8">8</option>
								                                    <option value="9">9</option>
								                                    <option value="10">10</option>
								                                    <option value="11">11</option>
								                                    <option value="12">12</option>
								                                    <option value="13">13</option>
								                                    <option value="14">14</option>
								                                    <option value="15">15</option>
								                                    <option value="16">16</option>
								                                    <option value="17">17</option>
								                                    <option value="18">18</option>
								                                    <option value="19">19</option>
								                                    <option value="20">20</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">2</div>
								                            <p class="help-box small text-muted hidden-xs">Higher the number, higher the priority</p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="disable">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="disable" placeholder="" data-doctype="Pricing Rule"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Disable</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="selling">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="selling" placeholder="" data-doctype="Pricing Rule"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Selling</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="buying">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="buying" placeholder="" data-doctype="Pricing Rule"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Buying</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="applicable_for">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Applicable For</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="applicable_for" placeholder="" data-doctype="Pricing Rule">
								                                    <option></option>
								                                    <option value="Customer">Customer</option>
								                                    <option value="Customer Group">Customer Group</option>
								                                    <option value="Territory">Territory</option>
								                                    <option value="Sales Partner">Sales Partner</option>
								                                    <option value="Campaign">Campaign</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Customer</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="customer">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Customer</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="customer" placeholder="" data-doctype="Pricing Rule" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-151" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Customer/SigmaStar" data-doctype="Customer">SigmaStar</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="customer_group">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="territory">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="sales_partner">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="campaign">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="supplier">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="supplier_type">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Float" data-fieldname="min_qty">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Min Qty</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Float" data-fieldname="min_qty" placeholder="" data-doctype="Pricing Rule">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">1</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Float" data-fieldname="max_qty">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Max Qty</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Float" data-fieldname="max_qty" placeholder="" data-doctype="Pricing Rule">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">2</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="valid_from">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Valid From</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="valid_from" placeholder="" data-doctype="Pricing Rule" id="dp1454083192168">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">12-30-2015</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Date" data-fieldname="valid_upto">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Valid Upto</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control hasDatepicker" data-fieldtype="Date" data-fieldname="valid_upto" placeholder="" data-doctype="Pricing Rule" id="dp1454083192169">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">01-20-2016</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="company">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Company</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="company" placeholder="" data-doctype="Pricing Rule" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-152" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Company/Gridworkz" data-doctype="Company">Gridworkz</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="price_or_discount">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Price or Discount</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="price_or_discount" placeholder="" data-doctype="Pricing Rule">
								                                    <option></option>
								                                    <option value="Price">Price</option>
								                                    <option value="Discount Percentage">Discount Percentage</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Price</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Float" data-fieldname="price">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Price</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Float" data-fieldname="price" placeholder="" data-doctype="Pricing Rule">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">1,000</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Float" data-fieldname="discount_percentage">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Link" data-fieldname="for_price_list">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
								<div class="row form-section visible-section shaded-section">
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control" data-fieldtype="HTML" data-fieldname="pricing_rule_help">
								                    <table class="table table-bordered" style="background-color: #fff; margin-top: 15px;">
								                        <tbody>
								                            <tr>
								                                <td>
								                                    <h3>&nbsp;<i class="fa fa-hand-o-right"></i> 
				Notes
				:</h3>
								                                    <ul>
								                                        <li>
								                                            Pricing Rule is made to overwrite Price List / define discount percentage, based on some criteria.
								                                        </li>
								                                        <li>
								                                            If selected Pricing Rule is made for 'Price', it will overwrite Price List. Pricing Rule price is the final price, so no further discount should be applied. Hence, in transactions like Sales Order, Purchase Order etc, it will be fetched in 'Rate' field, rather than 'Price List Rate' field.
								                                        </li>
								                                        <li>
								                                            Discount Percentage can be applied either against a Price List or for all Price Lists.
								                                        </li>
								                                        <li>
								                                            To not apply Pricing Rule in a particular transaction, all applicable Pricing Rules should be disabled.
								                                        </li>
								                                    </ul>
								                                </td>
								                            </tr>
								                            <tr>
								                                <td>
								                                    <h3>&nbsp;<i class="fa fa-question-circle"></i> 
				How the Pricing Rule is applied?
				</h3>
								                                    <ol>
								                                        <li>
								                                            Pricing Rule is first selected based on 'Apply On' field, which can be Item, Item Group or Brand.
								                                        </li>
								                                        <li>
								                                            Then Pricing Rules are filtered out based on Customer, Customer Group, Territory, Supplier, Supplier Type, Campaign, Sales Partner etc.
								                                        </li>
								                                        <li>
								                                            Pricing Rules are further filtered based on quantity.
								                                        </li>
								                                        <li>
								                                            If two or more Pricing Rules are found based on the above conditions, Priority is applied. Priority is a number between 0 to 20 while default value is zero (blank). Higher number means it will take precedence if there are multiple Pricing Rules with same conditions.
								                                        </li>
								                                        <li>
								                                            Even if there are multiple Pricing Rules with highest priority, then following internal priorities are applied:
								                                            <ul>
								                                                <li>
								                                                    Item Code &gt; Item Group &gt; Brand
								                                                </li>
								                                                <li>
								                                                    Customer &gt; Customer Group &gt; Territory
								                                                </li>
								                                                <li>
								                                                    Supplier &gt; Supplier Type
								                                                </li>
								                                            </ul>
								                                        </li>
								                                        <li>
								                                            If multiple Pricing Rules continue to prevail, users are asked to set Priority manually to resolve conflict.
								                                        </li>
								                                    </ol>
								                                </td>
								                            </tr>
								                        </tbody>
								                    </table>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

