<template name="PrintFormatEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{print_format_details.name}}</div>
								<!--<span class="indicator-blue indicator-text">{{print_format_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Rename</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Print Format</a></li>
								</ul>
						</div>
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{print_format_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> PrintFormatEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> PrintFormatEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="PrintFormatEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="PrintFormatEditEditForm">
	<div id="print-format-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{print_format_details.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-doc-type">
				<label for="doc_type">
					DocType
				</label>
				<div class="input-div">
					<input type="text" name="doc_type" value="{{print_format_details.doc_type}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar">
					<button class="btn btn-default btn-xs" style="margin-left: 10px;">Make Default</button>
				</div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
						    <div class="form-dashboard" style="display: none;">
						        <div class="row" style="padding: 15px 30px;"></div>
						    </div>
						    <div class="form-page">
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="doc_type">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;">DocType</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input" style="display: block;">
						                                        <div class="link-field ui-front" style="position: relative;">
						                                            <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="doc_type" placeholder="" data-doctype="Print Format" autocomplete="off"> <span class="link-btn">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
						                                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-22" tabindex="0" style="display: none;"></ul>
						                                        </div>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/DocType/Purchase%20Order" data-doctype="DocType">Purchase Order</a></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="disabled">
						                            <div class="cbox">
						                                <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="disabled" placeholder="" data-doctype="Print Format"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Disabled</span> </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="standard">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;">Standard</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="standard" placeholder="" data-doctype="Print Format">
						                                            <option value="No">No</option>
						                                            <option value="Yes">Yes</option>
						                                        </select>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;">No</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="custom_format">
						                            <div class="cbox">
						                                <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="custom_format" placeholder="" data-doctype="Print Format"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Custom Format</span> </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section hide-control">
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="print_format_type">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control hide-control" data-fieldtype="Code" data-fieldname="html">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input for-description" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section shaded-section">
						            <div class="section-body">
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Button" data-fieldname="edit_format">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label hide" style="padding-right: 0px;">&nbsp;</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <button class="btn btn-default btn-xs" data-fieldtype="Button" data-fieldname="edit_format" placeholder="" data-doctype="Print Format" value="">Edit Format</button>
						                                    </div>
						                                    <div class="hide" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						                <div class="form-column col-sm-6">
						                    <form>
						                        <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="font">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;">Font</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="font" placeholder="" data-doctype="Print Format">
						                                            <option value="Default">Default</option>
						                                            <option value="Arial">Arial</option>
						                                            <option value="Helvetica">Helvetica</option>
						                                            <option value="Verdana">Verdana</option>
						                                            <option value="Monospace">Monospace</option>
						                                        </select>
						                                    </div>
						                                    <div class="control-value like-disabled-input" style="display: none;">Default</div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section visible-section">
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control" data-fieldtype="Code" data-fieldname="css">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;">Custom CSS</label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input">
						                                        <textarea type="text" class="input-with-feedback form-control" data-fieldtype="Code" data-fieldname="css" placeholder="" data-doctype="Print Format" style="height: 400px; font-family: Monaco, 'Courier New', monospace;"></textarea>
						                                    </div>
						                                    <div class="control-value like-disabled-input for-description" style="display: none;"><pre></pre></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="griderp-control" data-fieldtype="HTML" data-fieldname="custom_html_help">
						                            <h3>Custom CSS Help</h3>

						                            <p>Notes:</p>

						                            <ol>
						                                <li>All field groups (label + value) are set attributes <code>data-fieldtype</code> and <code>data-fieldname</code></li>
						                                <li>All values are given class <code>value</code></li>
						                                <li>All Section Breaks are given class <code>section-break</code></li>
						                                <li>All Column Breaks are given class <code>column-break</code></li>
						                            </ol>

						                            <h3>Examples</h3>

						                            <p>1. Left align integers</p>

						                            <pre><code>[data-fieldtype="Int"] .value { text-left: left; }</code></pre>

						                            <p>1. Add border to sections except the last section</p>

						                            <pre><code>.section-break { padding: 30px 0px; border-bottom: 1px solid #eee; }
			.section-break:last-child { padding-bottom: 0px; border-bottom: 0px;  }</code></pre>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						        <div class="row form-section hide-control">
						            <div class="section-body">
						                <div class="form-column col-sm-12">
						                    <form>
						                        <div class="griderp-control hide-control" data-fieldtype="HTML" data-fieldname="print_format_help">
						                            <h3>Print Format Help</h3>
						                            <hr>
						                            <h4>Introduction</h4>
						                            <p>Print itemsFormats are rendered on the server side using the Meteor Templating Language. All forms have access to the <code>doc</code> object which contains information about the document that is being formatted. You can also access common utilities via the <code>griderp</code> module.</p>
						                            <p>For styling, the Boostrap CSS framework is provided and you can enjoy the full range of classes.</p>
						                            <hr>
						                            <h4>References</h4>
						                            <ol>
						                                <li><a href="http://docs.meteor.com" target="_blank">Meteor Tempalting Language: Reference</a></li>
						                                <li><a href="http://getbootstrap.com" target="_blank">Bootstrap CSS Framework</a></li>
						                            </ol>
						                            <hr>
						                            <h4>Example</h4>
						                            <pre><code>&lt;h3&gt;&#123;{ doc.select_print_heading or "Invoice" }&#125;&lt;/h3&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-md-3 text-right"&gt;Customer Name&lt;/div&gt;
				&lt;div class="col-md-9"&gt;&#123;{ doc.customer_name }&#125;&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-md-3 text-right"&gt;Date&lt;/div&gt;
				&lt;div class="col-md-9"&gt;&#123;{ doc.get_formatted("invoice_date") }&#125;&lt;/div&gt;
			&lt;/div&gt;
			&lt;table class="table table-bordered"&gt;
				&lt;tbody&gt;
					&lt;tr&gt;
						&lt;th&gt;Sr&lt;/th&gt;
						&lt;th&gt;Item Name&lt;/th&gt;
						&lt;th&gt;Description&lt;/th&gt;
						&lt;th class="text-right"&gt;Qty&lt;/th&gt;
						&lt;th class="text-right"&gt;Rate&lt;/th&gt;
						&lt;th class="text-right"&gt;Amount&lt;/th&gt;
					&lt;/tr&gt;
					&#123;{ #each doc.items }&#125;
					&lt;tr&gt;
						&lt;td style="width: 3%;"&gt;&#123;{ row.idx }&#125;&lt;/td&gt;
						&lt;td style="width: 20%;"&gt;
							&#123;{ row.item_name }&#125;
							&#123;{ #if row.item_code != row.item_name }&#125;
							&lt;br&gt;Item Code: &#123;{ row.item_code}&#125;
							&#123;{ /if }&#125;
						&lt;/td&gt;
						&lt;td style="width: 37%;"&gt;
							&lt;div style="border: 0px;"&gt;&#123;{ row.description }&#125;&lt;/div&gt;&lt;/td&gt;
						&lt;td style="width: 10%; text-align: right;"&gt;&#123;{ row.qty }&#125; &#123;{ row.uom or row.stock_uom }&#125;&lt;/td&gt;
						&lt;td style="width: 15%; text-align: right;"&gt;&#123;{
							row.get_formatted("rate", doc) }&#125;&lt;/td&gt;
						&lt;td style="width: 15%; text-align: right;"&gt;&#123;{
							row.get_formatted("amount", doc) }&#125;&lt;/td&gt;
					&lt;/tr&gt;
					&#123;{ /each }&#125;
				&lt;/tbody&gt;
			&lt;/table&gt;</code></pre>
						                            <hr>
						                            <h3>Common Functions</h3>
						                            <table class="table table-bordered">
						                                <tbody>
						                                    <tr>
						                                        <td style="width: 30%"><code>doc.get_formatted("[fieldname]", [parent_doc])</code></td>
						                                        <td>Get document value formatted as Date, Currency etc. Pass parent <code>doc</code> for curreny type fields.</td>
						                                    </tr>
						                                    <tr>
						                                        <td style="width: 30%"><code>griderp.db.get_value("[doctype]", "[name]", "fieldname")</code></td>
						                                        <td>Get value from another document.</td>
						                                    </tr>
						                                </tbody>
						                            </table>
						                        </div>
						                        <div class="griderp-control hide-control" data-fieldtype="Code" data-fieldname="format_data">
						                            <div class="form-group" style="margin: 0px">
						                                <label class="control-label" style="padding-right: 0px;"></label>
						                                <div class="control-input-wrapper">
						                                    <div class="control-input"></div>
						                                    <div class="control-value like-disabled-input for-description" style="display: none;"></div>
						                                    <p class="help-box small text-muted hidden-xs"></p>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-group griderp-control input-max-width hide-control" data-fieldtype="Check" data-fieldname="print_format_builder">
						                            <div class="cbox">
						                                <label class="checkbox-label"> <span class="input-area"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"></span> </label>
						                                <p class="help-box small text-muted"></p>
						                            </div>
						                        </div>
						                    </form>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

