<template name="MonthlyDistributionEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{monthly_distribution_details.name}}</div>
								<!--<span class="indicator-blue indicator-text">{{monthly_distribution_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Monthly Distribution</a></li>
								</ul>
						</div>
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{monthly_distribution_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> MonthlyDistributionEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> MonthlyDistributionEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="MonthlyDistributionEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="MonthlyDistributionEditEditForm">
	<div id="monthly-distribution-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{monthly_distribution_details.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-distribution-id">
				<label for="distribution_id">
					Distribution Name
				</label>
				<div class="input-div">
					<input type="text" name="distribution_id" value="{{monthly_distribution_details.distribution_id}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-fiscal-year">
				<label for="fiscal_year">
					Fiscal Year
				</label>
				<div class="input-div">
					<input type="text" name="fiscal_year" value="{{monthly_distribution_details.fiscal_year}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
							<div class="form-dashboard" style="display: none;">
								<div class="row" style="padding: 15px 30px;"></div>
							</div>
							<div class="form-page">
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-12">
								            <form>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="distribution_id">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="fiscal_year">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Fiscal Year</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <div class="link-field ui-front" style="position: relative;">
								                                    <input type="text" class="input-with-feedback form-control ui-autocomplete-input" data-fieldtype="Link" data-fieldname="fiscal_year" placeholder="" data-doctype="Monthly Distribution" autocomplete="off"> <span class="link-btn" style="display: none;">    <a class="btn-open no-decoration" title="Open Link">     <i class="icon-link"></i></a>   </span>
								                                    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-113" tabindex="0" style="display: none;"></ul>
								                                </div>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"><a class="grey" href="#Form/Fiscal%20Year/2015-2016" data-doctype="Fiscal%20Year">2015-2016</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="Table" data-fieldname="percentages">
								                    <div data-fieldname="percentages">
								                        <div class="form-grid">
								                            <div class="grid-heading-row">
								                                <div class="grid-row">
								                                    <div class="data-row row sortable-handle">
								                                        <div class="row-index">&nbsp;</div>
								                                        <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">Month</div>
								                                        <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">Percentage Allocation</div>
								                                    </div>
								                                </div>
								                            </div>
								                            <div class="grid-body">
								                                <div class="rows">
								                                    <div class="grid-row" data-idx="1">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">1</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">January</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="2">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">2</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">February</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="3">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">3</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">March</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="4">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">4</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">April</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="5">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">5</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">May</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="6">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">6</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">June</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="7">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">7</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">July</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="8">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">8</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">August</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="9">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">9</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">September</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="10">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">10</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">October</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="11">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">11</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">November</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                    <div class="grid-row" data-idx="12">
								                                        <div class="data-row row sortable-handle">
								                                            <div class="row-index">12</div>
								                                            <div class="col col-xs-7 grid-overflow-ellipsis grid-static-col" data-fieldname="month">December</div>
								                                            <div class="col col-xs-4 grid-overflow-ellipsis text-right grid-static-col" data-fieldname="percentage_allocation">
								                                                <div style="text-align: right">8.333</div>
								                                            </div>
								                                        </div>
								                                    </div>
								                                </div>
								                                <div class="grid-empty text-center hide">No Data</div>
								                                <div class="small form-clickable-section grid-footer">
								                                    <div class="row">
								                                        <div class="col-sm-6"> <a href="#" class="btn btn-xs btn-default grid-add-row" style="margin-top: 4px;"> Add new row</a> <a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide" style="margin-left: 10px; display: inline;"> Add multiple rows</a> </div>
								                                        <div class="col-sm-6 text-right"> <a href="#" class="grid-download btn btn-xs btn-default hide" style="margin-left: 10px;"> Download</a> <a href="#" class="grid-upload btn btn-xs btn-default hide" style="margin-left: 10px;"> Upload</a> </div>
								                                    </div>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

