<template name="CustomFieldEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
			<table cellspacing="0" cellpadding:="0" border="0" style="width: 100%;">
				<tr>
					<td>		
						<div style="vertical-align: middle;">
							<h2>
								<div class="pull-left">{{custom_field_details.name}}</div>
								<!--<span class="indicator-blue indicator-text">{{custom_field_details.voucher_type}}</span>-->
							</h2>
						</div>
					</td>
					<td>
						<div class="page-heading-logo">
							<span class="logo-symbol"><b><i class="fa fa-sitemap"></i></b></span>
							<span class="logo-text"><b> GridERP</b></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="breadcrumbs">
							{{> breadcrumb}}
						</div>
					</td>
					<td>
						<div class="list-page-heading-btns pull-right">
							<a class="btn btn-white btn-bitbucket btn-sm">
								<i class="fa fa-print"></i>
							</a>
							<button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Menu &nbsp;<span class="caret"></span></button>
								<ul class="dropdown-menu pull-right dropdown-menu-right">
									<li><a href="#">Print</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">Links</a></li>
									<li><a href="#">Duplicate</a></li>
									<li><a href="#">Reload</a></li>
									<li><a href="#">Delete</a></li>
									<li><a href="#">New Custom Field</a></li>
								</ul>
						</div>
						<!--<div class="pull-right" style="margin-right: 15px; margin-top: 5px;">
							{{custom_field_details.name}}
						</div>-->
					</td>
				</tr>
			</table>
        </div>
    </div>
	<div class="wrapper wrapper-content" style="padding-top:25px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						{{> CustomFieldEditSideBox}}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ibox float-e-margins">
					<div class="ibox-content top-bottom">
						{{> CustomFieldEditEditForm}}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="CustomFieldEditSideBox">
	<div class="list-sidebox">
		<ul>
			<li class="list-unstyled"><a href="#" class="sidebar-badge-hover"><span><b>Comments</b></span> <span class="sidebar-badge sidebar-badge-position">0</span></a></li>
			<li class="list-unstyled spacer text-muted">ASSIGNED TO</li>
			<li class="list-unstyled"><a href="#"><b>Assign <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">ATTACHMENTS</li>
			<li class="list-unstyled"><a href="#"><b>Attach File <i class="fa fa-plus"></i></b></a></li>
			<li class="list-unstyled spacer text-muted">TAGS</li>
			<li class="list-unstyled text-muted"><i>Add a tag...</i></li>
			<li class="list-unstyled spacer text-muted">SHARED WITH</li>
			<li class="list-unstyled form-shared"><span class="avatar avatar-small avatar-empty share-doc-btn" title="Share"> <i class="fa fa-plus text-muted" style="padding-left:6px;"></i></span></li>
			<li class="list-unstyled spacer text-muted"><strong>Dave Cook</strong> edited this</li>
			<li class="list-unstyled text-muted">4 months ago</li>
			<li class="list-unstyled spacer text-muted"><strong>You</strong> created this</li>
			<li class="list-unstyled text-muted">2 years ago</li>
		</ul>
	</div>
</template>

<template name="CustomFieldEditEditForm">
	<div id="custom-field-edit-edit-form" class="">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<!--<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{custom_field_details.name}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-dt">
				<label for="dt">
					Document
				</label>
				<div class="input-div">
					<input type="text" name="dt" value="{{custom_field_details.dt}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-fieldtype">
				<label for="fieldtype">
					Field Type
				</label>
				<div class="input-div">
					<input type="text" name="fieldtype" value="{{custom_field_details.fieldtype}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>-->
			<div class="layout-main-section">
				<div class="form-inner-toolbar hide"></div>
				<div class="page-form row hide"></div>
				<div>
					<div>
						<div class="form-layout">
							<div class="form-dashboard" style="display: none;">
								<div class="row" style="padding: 15px 30px;"></div>
							</div>
							<div class="form-page">
								<div class="row form-section visible-section">
								    <div class="section-body">
								        <div class="form-column col-sm-6">
								            <form>
								                <div class="griderp-control input-max-width" data-fieldtype="Link" data-fieldname="dt">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Document</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input" style="display: none;"></div>
								                            <div class="control-value like-disabled-input" style=""><a class="grey" href="#Form/DocType/Account" data-doctype="DocType">Account</a></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="label">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Label</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="label" placeholder="" data-doctype="Custom Field">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Test</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="HTML" data-fieldname="label_help"></div>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="insert_after">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Insert After</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="insert_after" placeholder="" data-doctype="Custom Field">
								                                    <option value="properties">properties</option>
								                                    <option value="column_break0">column_break0</option>
								                                    <option value="account_name">Account Name</option>
								                                    <option value="is_group">Is Group</option>
								                                    <option value="company">Company</option>
								                                    <option value="test">Test</option>
								                                    <option value="root_type">Root Type</option>
								                                    <option value="report_type">Report Type</option>
								                                    <option value="account_currency">Currency</option>
								                                    <option value="column_break1">column_break1</option>
								                                    <option value="parent_account">Parent Account</option>
								                                    <option value="account_type">Account Type</option>
								                                    <option value="tax_rate">Rate</option>
								                                    <option value="freeze_account">Frozen</option>
								                                    <option value="warehouse">Warehouse</option>
								                                    <option value="balance_must_be">Balance must be</option>
								                                    <option value="lft">Lft</option>
								                                    <option value="rgt">Rgt</option>
								                                    <option value="old_parent">Old Parent</option>
								                                    <option value="workflow_state">Workflow State</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">company</div>
								                            <p class="help-box small text-muted hidden-xs">Select the label after which you want to insert new field.</p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Select" data-fieldname="fieldtype">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Field Type</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <select type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Select" data-fieldname="fieldtype" placeholder="" data-doctype="Custom Field">
								                                    <option value="Attach">Attach</option>
								                                    <option value="Button">Button</option>
								                                    <option value="Check">Check</option>
								                                    <option value="Code">Code</option>
								                                    <option value="Column Break">Column Break</option>
								                                    <option value="Currency">Currency</option>
								                                    <option value="Data">Data</option>
								                                    <option value="Date">Date</option>
								                                    <option value="Datetime">Datetime</option>
								                                    <option value="Dynamic Link">Dynamic Link</option>
								                                    <option value="Float">Float</option>
								                                    <option value="HTML">HTML</option>
								                                    <option value="Image">Image</option>
								                                    <option value="Int">Int</option>
								                                    <option value="Link">Link</option>
								                                    <option value="Long Text">Long Text</option>
								                                    <option value="Password">Password</option>
								                                    <option value="Percent">Percent</option>
								                                    <option value="Read Only">Read Only</option>
								                                    <option value="Section Break">Section Break</option>
								                                    <option value="Select">Select</option>
								                                    <option value="Small Text">Small Text</option>
								                                    <option value="Table">Table</option>
								                                    <option value="Text">Text</option>
								                                    <option value="Text Editor">Text Editor</option>
								                                    <option value="Time">Time</option>
								                                </select>
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">Link</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Select" data-fieldname="precision">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width hide-control" data-fieldtype="Check" data-fieldname="collapsible">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"></span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="collapsible_depends_on">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="HTML" data-fieldname="options_help">Name of the Document Type (DocType) you want this field to be linked to. e.g. Customer</div>
								                <div class="griderp-control" data-fieldtype="Text" data-fieldname="options">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Options</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <textarea type="text" class="input-with-feedback form-control" data-fieldtype="Text" data-fieldname="options" placeholder="" data-doctype="Custom Field"></textarea>
								                            </div>
								                            <div class="control-value like-disabled-input for-description" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="Text" data-fieldname="description">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Field Description</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <textarea type="text" class="input-with-feedback form-control" data-fieldtype="Text" data-fieldname="description" placeholder="" data-doctype="Custom Field"></textarea>
								                            </div>
								                            <div class="control-value like-disabled-input for-description" style="display: none;">Testing</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="fieldname">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Fieldname</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input" style="display: none;"></div>
								                            <div class="control-value like-disabled-input" style="">test</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								            </form>
								        </div>
								        <div class="form-column col-sm-6">
								            <form>
								                <label class="control-label">Properties</label>
								                <div class="griderp-control input-max-width" data-fieldtype="Int" data-fieldname="permlevel">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Permission Level</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control text-right" data-fieldtype="Int" data-fieldname="permlevel" placeholder="" data-doctype="Custom Field">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;">0</div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="reqd">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="reqd" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Is Mandatory Field</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="unique">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="unique" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Unique</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="read_only">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="read_only" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Read Only</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="ignore_user_permissions">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="ignore_user_permissions" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Ignore User Permissions</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width" data-fieldtype="Data" data-fieldname="width">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Width</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <input type="text" class="input-with-feedback form-control" maxlength="140" data-fieldtype="Data" data-fieldname="width" placeholder="" data-doctype="Custom Field">
								                            </div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="Text" data-fieldname="default">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Default Value</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <textarea type="text" class="input-with-feedback form-control" data-fieldtype="Text" data-fieldname="default" placeholder="" data-doctype="Custom Field"></textarea>
								                            </div>
								                            <div class="control-value like-disabled-input for-description" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="hidden">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="hidden" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Hidden</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="griderp-control" data-fieldtype="Small Text" data-fieldname="depends_on">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;">Depends On</label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input">
								                                <textarea type="text" class="input-with-feedback form-control" data-fieldtype="Small Text" data-fieldname="depends_on" placeholder="" data-doctype="Custom Field"></textarea>
								                            </div>
								                            <div class="control-value like-disabled-input for-description" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="print_hide">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="print_hide" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Print Hide</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="griderp-control input-max-width hide-control" data-fieldtype="Data" data-fieldname="print_width">
								                    <div class="form-group" style="margin: 0px">
								                        <label class="control-label" style="padding-right: 0px;"></label>
								                        <div class="control-input-wrapper">
								                            <div class="control-input"></div>
								                            <div class="control-value like-disabled-input" style="display: none;"></div>
								                            <p class="help-box small text-muted hidden-xs"></p>
								                        </div>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="no_copy">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="no_copy" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;No Copy</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="allow_on_submit">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="allow_on_submit" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Allow on Submit</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="in_filter">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="in_filter" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;In Report Filter</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="in_list_view">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="in_list_view" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;In List View</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width" data-fieldtype="Check" data-fieldname="report_hide">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"><input type="checkbox" class="input-with-feedback" data-fieldtype="Check" data-fieldname="report_hide" placeholder="" data-doctype="Custom Field"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"> &nbsp;Report Hide</span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								                <div class="form-group griderp-control input-max-width hide-control" data-fieldtype="Check" data-fieldname="search_index">
								                    <div class="cbox">
								                        <label class="checkbox-label"> <span class="input-area"></span> <span class="disp-area" style="display:none; margin-left: -20px;"></span> <span class="label-area small"></span> </label>
								                        <p class="help-box small text-muted"></p>
								                    </div>
								                </div>
								            </form>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Comments Footer -->
			<div style="padding-top: 20px; padding-bottom:20px;">
				<div class="form-footer">
					<div class="after-save" style="border: 1px solid #ddd;">
						<div class="form-comments">
							<div class="timeline">
								<div class="timeline-head">
								    <h5 class="text-muted">Add a comment</h5>
								    <div>
								        <textarea style="height: 80px" class="form-control"></textarea>
								    </div>
								    <div class="media"> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="media-body">
								            <div class="row">
								                <div class="col-xs-4">
								                    <h5>You</h5> </div>
								                <div class="col-xs-8 text-right" style="margin-top: 2px;">
								                    <button class="btn btn-primary btn-go btn-xs pull-right">Comment</button>
								                    <div class="ckbox text-muted small pull-right" style="margin-top: 2px; margin-right: 15px;">
								                        <label class="email-checkbox-label">
								                            <input type="checkbox" class="is-email">&nbsp; Email </label>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
								<div class="timeline-items">
								    <div class="media timeline-item" data-name=""> <span class="pull-left avatar avatar-medium"> <img class="media-object" src="https://secure.gravatar.com/avatar/0d73538240b708901a3dcb37de7c8f3c?d=mm"> </span>
								        <div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
								            <div>
								                <div class="pull-right"> <span class="small text-muted">  </span> </div>
								                <h5> <i class="octicon octicon-plus icon-fixed-width"></i> <span title="Administrator" style="position: relative; top: 1px;">Administrator Created </span><span class="text-muted" style="font-weight: normal; position: relative; top: 1px;"> – <span class="griderp-timestamp " data-timestamp="2013-03-19 12:02:15" title="03-19-2013 12:02:15">3 years ago</span></span> </h5> </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right scroll-to-top" style="padding-top:30px;"> <a onclick="scroll(0,0)"><i class="fa fa-chevron-up text-muted"></i></a> </div>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

